[2016-06-17 22:00] jdrydn opened #1 "Sharing an image"
So, sharing URLs from Safari or any in-app browser works really well!

How about other forms of content? Images, for example? I'm trying with an image from the simulator but `ShareExtension.data()` appears to just hang... is there any point where I can enable some form of debugging to try and work out what's going on within the `ShareExtension` class?

[2016-06-17 22:05] jdrydn commented on #1
I may not be an iOS developer, but [these lines](https://github.com/alinz/react-native-share-extension/blob/master/ios/ReactNativeShareExtension.m#L41-L53) suggest this is only for URLs and not for other forms of content. Fortunately that's completely fine for me, but is there any way to trigger the `RCTPromiseRejectBlock` if the content being shared is not a URL?

[2016-06-18 01:25] alinz commented on #1
@jdrydn That is correct. My use case was only for URL. I'm up for a nice PR. 👍
if you plans to write one for iOS, would you mind write one for android as well. I want to keep the features the same for both platform.

For your question, there are couple of things we can do. The good news is `value` comes with type. so one option would be passing the path of the image back and you can either show it

[2016-06-19 12:49] jdrydn commented on #1
Given my inexperience with Objective-C, I'm definitely not the best person to try writing "_light as possible_" code 😜

However you **can** use the extension's `Info.plist` to limit your extension to only receiving URLs, [as this Apple developer documentation explains](https://developer.apple.com/library/ios/documentation/General/Conceptual/ExtensibilityPG/ExtensionScenarios.html#//apple_ref/doc/u

[2016-06-20 19:36] alinz commented on #1
@jdrydn thanks for feedback. The thing is you can not publish your app to App Store if you don't set that one right. That's one the reason I did that. This is a limited configuration and it's not enough. What if you want to share from notes app which has some URLs? you can still grab those and process the urls in JS code.

Any changes to iOS must be reflected to Android as well. I don't want to ha

[2016-06-20 19:36] #1 closed

[2016-07-07 01:41] allenrl opened #3 "Updates/corrections to README.md"
First off, thanks for sharing this code -- I really needed it!  As a relative newbie to RN, iOS and Android dev I followed your readme quite closely and noticed two corrections:

-Objc should be properly cased to capital O and capital C:  **-ObjC** (good thing there was a screenshot, but my eagerness to blindly copy/paste sent me down a debugging rabbit-hole for a day or so :) You only get an erro

[2016-07-07 01:52] alinz commented on #3
thanks @allenrl. Would you send me a PR for those typo. Example was the best source of truth.

One more thing. if you need to share some data between your app and the share extension you can take a look at [react-native-swiss-knife](https://github.com/alinz/react-native-swiss-knife). Look into RNSKBucket.

[2016-07-08 15:16] #3 closed

[2016-07-08 21:06] allenrl commented on #3
d'oh you beat me to it, @alinz !  thanks and i'll be sure to check out RNSBucket.

[2016-07-09 00:19] allenrl opened #4 "Android Build error "method does not override or implement a method from a supertype""
Hi @alinz -- I tried to start a fresh new RN project and use the extension, but when I attempt to build it with 'react-native run-android', I keep getting the error:

[code]

Are you familiar with this error or how I might troubleshoot it?  Thanks!

[2016-07-09 02:42] allenrl commented on #4
update: don't know if this is just a coincidence or the cause, but RN just pushed a new update v 0.29.0 just a few days ago that might explain why this error happened when I just generated a new RN app yesterday and installed your extension.  the update creates a new file MailApplication.java that contains some code similar to what it was complaining about during the build (@Override protected Lis

[2016-07-09 03:30] alinz commented on #4
@allenrl yes that is true. The bootstrap api for Android has been changed significantly. I will update the code soon. Once I push the code I will close this ticket.

[2016-08-05 23:46] allenrl commented on #4
hi @alinz just checking in to see if you have a fix any time soon.  if not, but you know how to fix it, can you provide a brief explanation or simple instructions and i'll see if i can make it work?  thanks!

[2016-08-11 20:26] npomfret opened #6 "Possible docs problem"
I think the section about Linked frameworks and Libraries could be improved (maybe!).  It says to `click on + and add all of the selected static binaries there`.  I did this but got a few compile errors.  My project has loads of native libraries included and I think they were the cause of the problem.  I removed them all and just kept the ones with names beginning with `libRCT...` and `libReact` a

[2016-08-11 20:27] npomfret opened #7 "Compile warning: Embedded binary's NSExtensionActivationRule is TRUEPREDICATE"
I've just tried to install this for the first time.  When I compiled I saw this worrying warning:

`warning: Embedded binary's NSExtensionActivationRule is TRUEPREDICATE. Before you submit your containing app to the App Store, be sure to replace all uses of TRUEPREDICATE with specific predicate statements or NSExtensionActivationRule keys. If any extensions in your containing app include TRUEPREDI

[2016-08-11 20:41] npomfret commented on #7
Did some reading.  Think i understand now.

[2016-08-11 20:41] #7 closed

[2016-08-12 09:32] #6 closed

[2016-08-12 09:38] npomfret commented on #6
Ignore me!

[2016-08-12 10:28] npomfret opened #8 "Help on getting share working on iOS"
Sorry, this isn't an issue, but I've been trying for hours now.  I've got the sample project working, but when I try and integrate this to my own it fails.

The problem is when I hit the share button in Safari, and then select my application, the modal popup doesn't appear.  In fact, Safari becomes completely unresponsive.  The only thing I can see is some activity happening in my node log, but no

[2016-08-13 00:22] zekchan commented on #4
+

[2016-08-14 14:17] southernvg commented on #4
Hi @alinz,  I would also love if you would update to handle the new bootstrap,  or maybe if you have some ideas on a work around.   I have your extension up and running on iOS work great.   But my RN is at .30.   Thank you.

[2016-08-15 16:41] npomfret commented on #8
I can recreate the sample project from scratch, and it works as described.  It's when I try and do the same in my 'real' project that it fails.  I've followed exactly the same steps, several times - but no share dialog appears, there are no error messages and I can't get any break points (in objective-c or javascript) to work.

Has anyone else had this issue?  Where an existing app prevents the [s

[2016-08-16 07:53] work2fork commented on #4
+

[2016-08-20 01:29] chenUT commented on #8
I have just had a similar problem. It turns out the story board in my share extension is not connected with the .m file. Make you click this one
![screen shot 2016-08-19 at 9 28 22 pm](https://cloud.githubusercontent.com/assets/6682969/17827919/e036c482-6653-11e6-81cc-35818635a01d.png)
on the left of story board and change the Class name on the right.

[2016-08-21 12:22] soorajvnair commented on #8
@npomfret @dillonsvincent @chenUT I am able to run the extension just fine inside my emulator, but unfortunately it doesn't work on a real device, does anyone else have a similar issue?

[2016-08-21 13:21] southernvg commented on #8
I had that same problem.   Make sure you update the extension target's Build Phases to run the react-native script in XCode.  I just copied the Build Phases from the main target.

[code]

[2016-08-21 16:10] dillonsvincent commented on #8
After posting my fix, I realized that It only ran in the simulator and not on the device. @soorajvnair's fix worked for me. To explain a little more.
you will need to click on your project file. select your extension target. go to the build phases tab. click the plus button and add new run script phase, this is where you paste the code above.

[2016-08-22 05:17] soorajvnair commented on #8
Hey guys, @dillonsvincent @alinz unfortunately @southernvg 's fix did not work for me, i'm still not able to get it to work on an actual device, i'm using testflight to do some internal testing and none of my testers have so far managed to get the extension to work, they're able to see the extension in the share menu, but upon clicking nothing happens.  Everything works ever so smoothly in the sim

[2016-08-22 13:48] alinz commented on #8
@soorajvnair I have using this share extension in production for both ios and android. also I have updated the doc [here](https://github.com/alinz/react-native-share-extension#test-on-device-without-dev-server)

There are 2 possible reasons that might causes this issue. if any errors happen in your script in share extension code, you won't see any red-box. I couldn't get it to work on ios. but in

[2016-08-22 16:00] soorajvnair commented on #8
hey @alinz thanks for getting back to me, but unfortunately i'm still having trouble in getting it to work on a real device, I've played by the book, already added that run script in build phase, still no luck. Any other possible reasons that you can think of?

[2016-08-22 18:34] soorajvnair commented on #8
@alinz Hey, thanks for that quick reply, i was actually trying with my own code at first, but now i've also tried with the sample code, same result, works fine inside simulator but not on the device, I'll try hooking it with react-native-logger and try again, in the meantime please do feel free to share any other suggestions that you might have.

[2016-08-23 20:58] alinz commented on #8
@soorajvnair can you provide some info about all the tools that you are using. because I just tested on my device and it works fine.

please provide me with the following info:

- npm version
- node version
- react-native version
- ios version, also iPad or iPhone

thanks

[2016-08-23 21:12] soorajvnair commented on #8
Hey @alinz Thank you once again for getting back to me, here is info that you asked for.

**- Node 6.3.0
- Npm 3.10.3
- react-native 0.30.0
- react-native-cli 1.0.0
- iOS 9.3.3 ( iPhone 6s)**

hope that helps, really appreciate you taking timing out to look into this.

[2016-08-24 16:19] npomfret commented on #8
Still doesn't work for me, after re-running everything.  I can re-create the sample project and it works fine on the simulator.  But when I try to incorporate into my own the application I'm trying to share from just seems to lock up.

I've installed react-native-logger - any suggestions as to where I should log?

[2016-09-01 03:59] soorajvnair commented on #8
Hey @alinz just checking in to see if you were able to look into this, or reproduce the issue on your end, were the details of tools and their version useful?

[2016-09-01 15:14] alinz commented on #8
@npomfret @soorajvnair I have upgraded everything including my node and npm and I was able to run the code on my simulator and my device. I have also push the new code to master branch. Android is not ready but iOS is upgraded to latest one.

There are two things that might causes this issue,
- first you guys forget to add `Run Script` in `Build Phases` which I have documented [here](https://githu

[2016-09-01 16:50] npomfret commented on #8
Thanks for the info.  I've done everything I can think of including the run script.  Will try again soon.  Thanks for the update.

[2016-09-01 17:23] alinz commented on #8
@npomfret would you simplify/trim the project code that you have and send it to me. I have to see the code in order to help you.

[2016-09-13 17:18] MalNe commented on #4
Hi, alinz!
For our project we really need this issue to be resolved - is there any possibility that you finish it?
If there are some problems that cause this delay or somethig?
Million thanks in advance!!

[2016-09-14 08:00] goodhyun commented on #4
+1

[2016-09-16 15:35] hyelong commented on #4
+1

[2016-09-19 09:23] waleedarshad-vf commented on #4
+1

[2016-09-20 14:56] parkerdan commented on #8
@alinz Any plans to incorporate photo sharing in this package?

[2016-09-20 15:43] parkerdan commented on #8
I also can not get this to work in production via TestFlight.  Simulator works great.
<img width="880" alt="screen shot 2016-09-20 at 10 34 04 am" src="https://cloud.githubusercontent.com/assets/12119980/18677617/f13aa3f0-7f1e-11e6-87d2-ff6858cd9fe0.png">
<img width="1019" alt="screen shot 2016-09-20 at 10 33 26 am" src="https://cloud.githubusercontent.com/assets/12119980/18677618/f141a290-7f1e-11

[2016-09-20 16:25] soorajvnair commented on #8
@parkerdan Yes that's precisely where i'm having trouble too. Still not resolved on my end.

[2016-09-20 16:31] parkerdan commented on #8
@alinz, @soorajvnair, there is an error in the read me causing my problems and perhaps others.  The MyShareEx.m in the read me is incorrect for production.  It should match this [https://github.com/alinz/react-native-share-extension/blob/master/examples/Sample1/ios/MyShareEx/MyShareEx.m](url)

This solved things for me...

[2016-09-20 16:33] parkerdan commented on #8
@soorajvnair, @alinz, the read me is incorrect about setting up the MyShareEx.m file.  It needs to be like this:
[code]

This will work in debug and production....at least for me

[2016-09-20 17:10] alinz commented on #8
@parkerdan you want to send me a PR for that?

[2016-09-21 16:24] soorajvnair commented on #8
@alinz @parkerdan Yay!!!. Worked for me!. Thanks a lot!.

[2016-09-30 04:10] iou90 opened #14 "Question on communication with share.ios.js and app.ios.js"
Actually, this isn't an issue, just wonder how you communicate with share.ios.js and app.ios.js. I want to pass the value to the app.ios.js when data received in share.ios.js.

I'm new to RN, have tried events (Emitter) and global variables but neither works.
I think these components have separate JS environment ?

[2016-10-03 03:31] balasan commented on #14
I just managed to share the user auth token for api calls between the app and the share extension

You have to enable groups in your app: https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/AddingCapabilities/AddingCapabilities.html
(see "Configuring App Groups section")

and then use this library https://github.com/wwayne/react-native-user-defaults
to st

[2016-10-03 05:02] alinz commented on #14
@iou90 for our app, what I did was using this module [react-native-swiss-knife](https://github.com/alinz/react-native-swiss-knife). I use the bucket feature of that one which enables me to share object between share extension and app. It works for both ios and android.

before you can do this, make sure you create a group as @balasan mentioned.

[2016-10-03 06:10] iou90 commented on #14
@balasan @alinz thx for helping! I'll give it a try with your advice.

[2016-10-07 09:38] alyrik commented on #4
+1. Still waiting for update.

[2016-10-26 08:37] lazee commented on #7
@npomfret I have the same problem. Could you hint on how you solved it?

[2016-10-26 09:31] npomfret commented on #7
I wasn't following the instructions properly, thats all.  But I never got this to work in my app and gave up after a while.  I'm going to try again soon.  I got the example working, and even reproduced the example from scratch so I'm pretty sure this module works.  Good luck

[2016-10-26 14:30] alinz commented on #7
basically, what it says that you have to tell what your share extension intend to do. Apple needs to know what you want to do and it's pretty simple to setup. this error has nothing to do with this module.

What you have to do is go to your share extension's plist and change it the way you want to intract with user.

Here's an example of our production app.

![screen shot 2016-10-26 at 10 28 04 am

[2016-10-26 14:32] alinz commented on #14
@iou90 closing this issue and I'm assuming it got fix. reopen it again if you have the problem again.

[2016-10-26 14:32] #14 closed

[2016-11-03 09:50] sun2rise commented on #8
@alinz @parkerdan i have followed every line of the docs but the app which i'm trying to share content from still freeze for me

simulator ipad air2
react-native 0.36
debug and release

anyone still has this problem?

[2016-11-03 10:02] npomfret commented on #8
I never got mine working, will try again soon and let you know.  I managed to reproduce the demo app by following the instructions step by step.  There's something in my app preventing it from working I think.

[2016-11-03 11:06] sun2rise commented on #8
@npomfret that happened to me when i was wrong about where to put "Header Search" Paths and "Other Linker Flags".. mine were in my main app target while you have to add them on the extension target!

anyway now i have other 12 errors and my build fails:

[code]

[2016-11-03 13:18] sun2rise commented on #8
ok, i resolved the errors, but it doesn't work

[2016-11-03 15:14] arribbar opened #15 "Help needed making Sample1 example works on Android"
Hi,

I tried your example on Android and I did not succeed to make it work.
I have:
- "react": "15.3.1",
- "react-native": "0.32.0",

When I try to share either an url or an image, in the share.android.js, in `componentDidMount` function, ShareExtension is not defined. I got this error :
[code]

Do you know how to solve this error?

[2016-11-10 02:42] work2fork commented on #15
+1, ShareExtension is not defined only on Android

[2016-11-10 10:44] viestat opened #16 "npm does not have the newest version"
I see on the repo that on the most recent [pull request](https://github.com/alinz/react-native-share-extension/commit/907387ef0339967bde1e3e7ae05a2777ae167373), the sharing an image functionality was added. It would be great to have the newest version on npm.

Thank you for this nice module!

[2016-11-18 11:33] viestat commented on #8
I had a good friend look into it. Do all the steps mentioned above and be sure to check your Deployment Target:
<img width="919" alt="screen" src="https://cloud.githubusercontent.com/assets/9158996/20428783/3963d06c-ad8b-11e6-80de-5520bb9f14e0.png">

[2016-11-24 13:35] adebree commented on #8
I'm also experiencing the freezing safari issue on 0.36. On 0.32 I can get it to work, but my use case is 0.36+

Attaching a debugger in XCode to the share extension process shows the process is running. There is no load on it and nothing is showing in the output pane...

[2016-11-25 13:32] bhaumikdesai91 opened #17 "Limited to fetching url of the website."
First of all brilliant work. I really found my starting point on this repo, I need to extend the functionality to support other item-types/intent-types in my share extension. any idea how to go about it? because I got your demo working in a heartbeat but then I saw that the type 'public.url' is hard coded in the native side of the iOS. And I don't have much knowledge on Android about this.

I am t

[2016-11-26 06:48] bhaumikdesai91 commented on #17
Hey, @alinz please look into this...

[2016-11-28 14:30] arribbar commented on #15
Any hint @alinz ?

[2016-11-29 15:52] luisfuertes commented on #4
I have the same issue with:
[code]

[2016-11-30 10:41] luisfuertes opened #18 "Dont show modal on iOS"
Hi, thanks for this component.

On iOS i think all its fine configured but when i press on share to MyAppShareEx, nothing happen. It dont show any popup.

Some idea? If need some code of my config ask me and i will post it.

Thanks!

[2016-12-01 08:28] bengoism commented on #18
I have the exact same problem, would be great If we could figure out why :).. Im using React native v.0.37

[2016-12-01 08:44] luisfuertes commented on #18
My versions:
[code]

[2016-12-01 14:24] arribbar commented on #15
I figured out my problem.
We need to import and add SharePackage in MainApplication.java

[code]

[code]
I'll make a PR to improve the documentation about that.
Hope it'll help you

[2016-12-06 02:17] TheSisb commented on #18
Please share your code if you want help.  The issue is relatively broad to guess from.

[2016-12-07 11:02] luisfuertes commented on #18
@TheSisb ofcourse,

iOS Extension: MyCustomShareEx.m

[code]

My index.ios.js:
[code]

My share.ios.js:
[code]

[2016-12-11 12:48] louiscenter opened #20 "Image sharing on iOS returns no data"
Back in September, @parkerdan kindly contributed a PR adding image support, which was merged by @alinz.

After testing this on both iOS 10.1 and and 9.3, it seems that `data()` doesn't return anything when you share an image from the Photos app. Sharing a URL from Safari works fine however.

I know next to nothing about coding in Objective C. Looking through `ios/ReactNativeShareExtension.m`, I wo

[2016-12-11 14:33] parkerdan commented on #20
There is an issue with getting the proper content files from NPM.

Go into YOUR `node_modules => react-native-share-extension => ios => ReactNativeShareExtension.m` <br>
I'm guessing your version of that file ^^ does not match the file in the link you pasted above.

I just created a new project to test this issue and the proper files didn't come from NPM.  After pasting the proper file in, all is

[2016-12-11 14:49] parkerdan commented on #18
Build your regular project, then build your ShareExtension project.
Restart X-code and React Packager
Try Again.
Check the files in the actual node_modules...See #20.
Check the installation instructions again.
Check the installation instructions again, again...

This is a very important step...
[code]

I just built a new project with minimal resources and things worked.

[2016-12-11 21:52] louiscenter commented on #20
@parkerdan I feel silly for not picking up on this myself 😅 Thank you for pointing this out! Maybe I should file an issue asking for @alinz to do a fresh `npm publish`?

[2016-12-11 21:52] #20 closed

[2016-12-13 09:46] shishircc opened #21 "Can the extension access the AsyncStorage of main application ?"
In my app, to minimize the latency, I want to display options based on data in main application's async storage. Is that possible ?

How does the main application share data with extension ? Things like userid etc.

[2016-12-13 15:20] alinz commented on #21
@shishircc, No, Share Extension have no access to main app, even thought they are bundle together. I have created a new project called [react-native-swiss-knife](https://github.com/alinz/react-native-swiss-knife) which created a pipe between share and main app. Take a look at the Bucket api inside that project. You don't have to use it but this is what I'm doing for sharing data between them.

[2016-12-15 03:03] shishircc commented on #21
Thanks !

[2016-12-15 03:03] #21 closed

[2016-12-16 13:29] mjracca commented on #18
+1

[2016-12-18 14:38] ChrisPikul510 commented on #4
I'm going to assume this project has been abandoned. Would like to see this come back if possible, tag me if anybody figures out a fix.

[2016-12-19 10:56] luisfuertes commented on #18
I try to execute new proyect with basic configuration and share-extension component only.

On new project all works fine.
![captura de pantalla 2016-12-19 a las 11 51 11](https://cloud.githubusercontent.com/assets/18212615/21310203/9ef5158a-c5e1-11e6-9dae-8a1cc56d43ee.png)

But now, i try to do all steps in my project, Now the extension name is the same that the example. MyShareEx.

But on my proj

[2016-12-23 10:26] luisfuertes commented on #18
I try to put:
`NSLog(@"MYSHAREEX LOADED");`
on "MyShareEx.m" file, and already checked if it is my `MainInterface.storyboard` view controller.

But on xcode console and on safari console (sharing from safari) dont show any log.

@parkerdan you know how can i continue fixing this?

[2016-12-23 16:26] parkerdan commented on #18
@luisfuertes, you got a pink box to show...so you did something right.

You tried to make your share extension more complex...and obviously did something wrong.

Share you actual Javascript share extension component/code and I will look at it and try to point out where you went wrong.

Remember this:
    1:  A Share Extension is a separate "app".  This is why you needed to add the static libraries

[2016-12-27 09:22] luisfuertes commented on #18
@parkerdan all my config:
![captura de pantalla 2016-12-27 a las 10 12 58](https://cloud.githubusercontent.com/assets/18212615/21496261/7d209b4a-cc1d-11e6-9ccb-f6ce9c1eb679.png)
![captura de pantalla 2016-12-27 a las 10 13 59](https://cloud.githubusercontent.com/assets/18212615/21496262/7d212a74-cc1d-11e6-86a1-c17a41f35fc6.png)
![captura de pantalla 2016-12-27 a las 10 14 22](https://cloud.githubu

[2017-01-09 20:27] vinicius-sabadim commented on #18
I'm facing the same error here.
I found that the error is on the other project.

[code]

When I comment all the `import` from my `App` component, all starts to work.

[2017-01-10 13:57] adrianotadao opened #22 "#import "RCTBridgeModule.h" file not found"
I'm receiving this error. What went wrong?

Take a look how is my `Header Search Paths`. It's a strange error because on my friend's computer it's working well.

![f_j052d5](https://cloud.githubusercontent.com/assets/387138/21808749/c72de468-d72b-11e6-9a42-466c0cebddf6.png)

Thank you.

[2017-01-10 14:06] luisfuertes commented on #18
I try:

MyShareEx.m
[code]

And index.ios-extension.js
[code]

And now it works on iOS simulator, but dont work on real iOS device.

[2017-01-10 14:38] alinz commented on #22
@adrianotadao did you upgrade to React-native 0.40? if so you need to follow up with this issue
https://github.com/facebook/react-native/issues/11721#issuecomment-270672904

[2017-01-10 14:41] alinz commented on #18
@luisfuertes guys I have no problem using this, and as far as I know the doc is pretty much describe the process. Have you looked into this section of doc? https://github.com/alinz/react-native-share-extension#test-on-device-without-dev-server

[2017-01-10 14:44] luisfuertes commented on #18
Yes, i have that script implemented on my code. But it doesnt work

[2017-01-10 14:45] alinz commented on #4
I have published 2 version 1.1.0 for react-native 0.39 and below and 1.1.1 for react-native 0.40.0 and above.

[2017-01-10 14:45] #4 closed

[2017-01-10 14:47] alinz commented on #4
@ChrisPikul510 just because I haven't published anything on npm doesn't mean I have abandoned this project. As you know, I have other priorities as well, so you can easily do a fork and build everything on top of it and if you want you can give me a PR.

[2017-01-10 14:49] alinz commented on #8
Have you guys managed to solve it, I have just added into my new project and for the sake of it I use the Doc. everything went well and I managed to run the share extension. closing this but please reopen or add more comment to this issue

[2017-01-10 14:49] #8 closed

[2017-01-10 14:50] #15 closed

[2017-01-10 14:50] alinz commented on #16
I have publish 1.1.0 and 1.1.1 to target 0.39 and 0.40

[2017-01-10 14:50] #16 closed

[2017-01-10 15:47] luisfuertes commented on #4
Now it works perfect with:
[code]

[2017-01-10 16:44] luisfuertes commented on #18
Full log:
![captura de pantalla 2017-01-10 a las 17 43 38](https://cloud.githubusercontent.com/assets/18212615/21815298/5ef1e68e-d75c-11e6-8425-131f7f8b3c0c.png)

[2017-01-10 17:24] adrianotadao commented on #22
@alinz I'm using the version `0.39.0`. The error just disappears. There are a bunch of things on XCode that I want to understand. Someday, who knows?!

I tried to update the react-native version but I'm using other libs that conflict with the version `0.40`.

Now, everything here is okay and I don't know how I fixed.

Thank you a lot!

[2017-01-10 17:24] #22 closed

[2017-01-11 17:28] alinz commented on #4
@luisfuertes please make sure to remove the `^` from the version in your package.json.

[2017-01-11 17:29] alinz commented on #22
@adrianotadao what I usually do is slowly added each module and try to see if I can compile and run, and then I move to the next one. It is painful but this is how you should do it.

[2017-01-11 18:09] adrianotadao commented on #22
@alinz yes, you're right but, React Native is a bit strange. This error has disappeared, now, it returns after I deleted the `ios/build`. This is going to drive me crazy.. =(

[2017-01-12 02:22] allenrl commented on #4
@alinz -- for those of us that encountered this error when building our RN app on version <0.29, can we resolve this issue by updating/upgrading your extension and RN to the latest version?  or, do we need to start over by creating/building a brand new RN app?

[2017-01-12 06:42] alinz commented on #4
@allenrl I think you should be able to use 1.1.0. Give it a try. the thing is I can't support every single version. I need the community to support me. try it and let me know, and if you can fix any problem I would be gladly accept your PR.

[2017-01-12 06:44] alinz commented on #20
@louiscenter I have publish to npm, this should be fixed now.

[2017-01-12 09:05] luisfuertes commented on #18
If i comment all index:
Index.js
[code]
New safari JSContext log:
`main.jsbundle (línea 824)Application MyShareEx has not been registered. This is either due to a require() error during initialization or failure to call AppRegistry.registerComponent.`

[2017-01-13 15:48] alinz commented on #18
@luisfuertes can you change the workflow. Instead of login in the user in share extension, they should login in your app first and then you can access the the token from share extension. I haven't actually see any apps let's you login in share extension. They usually prompt you to log in inside app or use deep liking to open up your app.

At the moment, I'm doing exactly like that in my app. If us

[2017-01-13 16:06] luisfuertes commented on #18
The problem is what i dont use google login on extension.

You can see my extension code some post before.

The google import is in my main app. But on extension log, say that it need the google (and more imports), dont know why

[2017-01-18 14:33] adrianotadao commented on #18
@luisfuertes There is something wrong with the google. We had some problem similar here and when something goes wrong, the react-native return a generic error.

- What we did that had solved our problem:
We added the lib, in our case was `react-native-cookies` on Link Binary With Libraries.
![9oa_gkw9](https://cloud.githubusercontent.com/assets/387138/22067838/093be4fa-dd7a-11e6-8690-2ad2f85d18ae.

[2017-01-18 17:20] luisfuertes commented on #18
@adrianotadao thanks for answer.

I tried to add `libRNGoogleSignin.a` to Share target `Link Binary With Libraries` List
but `libRNGoogleSignin.a` cant compile with `ObjC`  on `Other Linker Flags`, but without this, Extension cant works

[2017-01-18 19:41] adrianotadao commented on #18
@luisfuertes I need to confess. React-native is almost a magic box. =l I don't know how can I help you. I'm having problems here and it's very painful

[2017-01-18 20:17] adrianotadao opened #23 "Crash in production..."
@alinz Hi man, sorry to bother you again.

Do you know or, have you heard someone talking about the crash when using Fastlane? I have added the script to build local on my device... at this point, everything is okay but, when I'm using Fastlane to deploy my app to the testers, the extension is not opening =l

What is the best way to debug it?

Ps. Odin, help me! 🙏  😂

[2017-01-19 12:20] adrianotadao commented on #23
I'm so dumb. I can change the schema to use the release instead of debugging.

[2017-01-19 12:20] #23 closed

[2017-01-20 12:59] alinz commented on #23
lol

[2017-01-20 13:01] alinz commented on #18
@luisfuertes can you provide a sample project/repo so I can jump on it. I might have more clear visions and solutions once I see the problems on my computer.

[2017-01-22 00:01] blovato commented on #17
Similarly, I am trying to use the share extension to access the DOM of the webpage. Is there anyway you could extend the `extractDataFromContext` Obj C method to inject a predefined javascript and/or return the browser's window object? This would be a huge help, otherwise there is not much I can do with just the url!

[2017-01-22 03:15] alinz commented on #17
@blovato I don't know whether it's possible. As Share Extension implies, it needs to read data only, even if I do that, it might be rejected by apple. Have you seen any other extension that does that?

[2017-01-22 06:16] blovato commented on #17
It is possible to inject JS into action and share extensions that are used on webpages. There is a description [here](https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/ExtensionScenarios.html#//apple_ref/doc/uid/TP40014214-CH21-SW1) at the title 'Accessing a Webpage'
and an example implementation [here](http://stackoverflow.com/questions/33205158/access-w

[2017-01-22 06:32] blovato commented on #17
I'd love to contribute, but I just spent 6 hours learning Objective C, and I don't know how much help I'd be. Let me know if I could do anything though :)

[2017-01-22 07:51] bhaumikdesai91 commented on #17
Hello everyone, Thanks for your participation in the thread. Actually tou can check this extension out that I have already made in native iOS and it's live on Apple AppStore.
ReadBoard
https://appsto.re/in/a3KRfb.i

And there is absolutly no reason to worry about appStore rejection for you, as you are making existing functionality of the native platform available in the react counterpart, anyway c

[2017-01-23 21:25] blovato commented on #17
@bhaumikdesai91 do you mind sharing your code for this? I am trying to get a sense of how to do a similar implementation as ReadBoard. Except grabbing pages that have a lot of user configurations like selectables and form fields. thanks

[2017-01-23 21:39] alinz commented on #17
@bhaumikdesai91, as @blovato mentioned, if you create a simple one, I might add that into share extension. The only issue is I have to come up with a feature parity for android as well.

[2017-02-06 12:50] ollar commented on #18
Hey guys. Any updates in this issue?

[2017-02-06 14:40] alinz commented on #18
@ollar I can go on and investigate on this issue unless some one creates a sample project. I am using this project into couple of apps and so far no problem.

[2017-02-06 17:10] johuder33 commented on #18
Hi, guys, I am using react-native-share-extension, everything goes good, but I am facing a little problem, I am trying to use Alert API from react-native package, but it doesn't work, anyone has worked with that before ?

here my code :

[code]

[2017-02-06 21:35] alinz commented on #18
@johuder33 unfortunately that not possible. the reason is that, I'm instantiating share extension with  Just the controller and there is no application window. Alert requires an application window. I think it is possible but at the moment I am busy with stuff but I would accept PR for anyone who wants to implement it.

Your alternative way is using `react-native-modalbox` to show the alert box and

[2017-02-07 13:37] johuder33 commented on #18
@alinz I understand, I would like to help you with a PR, but I am not a Objetive-C developer, I am learning right now, because I would like to build some module for RN, now concerning about my second question, please forget about it, I don't know what I was thinking about at that moment hahaha!.

But there is a thing that I can't get it.

how can you debug your share extension ? I tried enabling r

[2017-02-07 14:55] alinz commented on #18
what you have to do is from top left corner of xcode,
![screen shot 2017-02-07 at 9 50 26 am](https://cloud.githubusercontent.com/assets/967050/22696127/ff7ed552-ed1a-11e6-96c3-41b8bf728fe0.png)

select the share extension

![screen shot 2017-02-07 at 9 50 40 am](https://cloud.githubusercontent.com/assets/967050/22696131/02114dd6-ed1b-11e6-9d52-cd75b2aedcc9.png)

and run it. once you do that you w

[2017-02-10 20:21] johuder33 commented on #18
@alinz great, now it`s working, thanks too much.

[2017-02-28 18:27] markdaws opened #25 "Debug menu doesn't show"
Hi - thanks for creating this project.  I have it all up and running, but I can't get the regular react native debug menu to show, pressing CMD+D or initiating the shake gesture doesn't launch the menu, the one where you can turn on Live Reload, turn on remote JS debugging.

Is there some way to make this appear? I want to be able to inspect elements and remote debug the react native view when it

[2017-03-01 03:21] alinz commented on #25
at the moment I don't have the solution. What I end up doing is launch the those views in regular react-native app and do the debugging there for UI and then boot it up in share part. Also you can look into this comment I made couple of weeks ago https://github.com/alinz/react-native-share-extension/issues/18#issuecomment-278023118

[2017-03-03 14:19] benoist opened #26 "Share file types"
Hi,

Currently it's not possible to share PDFs in android as the files are checked for file type

https://github.com/alinz/react-native-share-extension/blob/master/android/src/main/java/com/alinz/parkerdan/shareextension/ShareModule.java#L59

I've added a check for application/pdf as well, but maybe there are other ways to detect if the share is file...

[2017-03-03 15:08] svenadlung opened #27 "Share media files with main application"
Thank you for this great module. After some problems in the beginning I got it running very well!

Is there a way to share a media file (photo/video) with the main application? I set app groups for the extension and the application. Within the extension I added react-native-fs to get access to the filesystem. But I have no idea how to save the image to the shared folder and open it within my main

[2017-03-03 15:27] alinz commented on #27
@svenadlung thanks for using this project, I would like to ask you to send me PR for updating doc so  other developers won't have the early problems as you faced. That would be great.

about your question, I think it would be better if you can save the location of the media content and then, the main app can load the content and do other stuff with it. Remember one thing, share extension should be

[2017-03-03 15:42] svenadlung commented on #27
@alinz Thanks for your quick response.

Well. this is an idea I already thought of. But what happens if the media file is deleted meanwhile. I want to store it as an copy within my application. So if it gets shared (just by saving the path) but deleted afterwards, no copy of the file is available within the application. Do you understand my point?

[2017-03-23 15:00] juhaelee commented on #18
Hey @alinz! You said:

Are you doing this by using React-native's Linking library? I'm trying to achieve this by doing something like this in the share extension if the user is not logged in:
[code]

Is this what you did? Doing this doesn't seem to be doing anything for me. I tried typing myapp:// in safari and it does execute the applink correctly

[2017-03-24 04:18] alinz commented on #18
@juhaelee you just have to remember that in order for Linking to work user interaction must be performed. What I mean by this is user must initiate the trigger by tapping on request. When you type the url in safari and hit go, you as a user trigger the start.

what you have to do is show a message or open the dialogue to ask the user to launch the app, once the user accept then the process will wo

[2017-03-24 14:31] timoschlueter opened #28 "Exception: Module AppRegistry is not a registered callable module (calling runApplication)"
Hi everyone,

i am having trouble setting up the module for my iOS app.

I added a Share Extension to my existing app project through Xcode by applying all the steps from the Readme. I ended up with a "index.ios.js" file where i added the additional registerComponent() call for the extension (imported as "Share", i used the share.ios.js from the example). The Extension itself is called "ShareExt"

[2017-03-26 16:26] alinz commented on #28
@timoschlueter in order to see the problem and do proper debugging in xcode by placing break point, please refer to this https://github.com/alinz/react-native-share-extension/issues/18#issuecomment-278023118

use that and let me know if you find more details about it,

One other thing, can you make a simple app and add the share extension and getting that to work?

[2017-03-28 07:02] Tyrdall opened #29 "Import errors on build (iOS)"
Hi,

I'm running into several import issues, while trying to create a build for iOS, for example: React/RCTBridgeModule.h file not found
I've tried everything from react-native 0.37.0 - latest.

Is there a version stack of react and react native you usually use for this app?

Thanks in advance!

[2017-03-28 11:19] fk1blow opened #30 "opens host app instead of share extension"
I've got everything working on the simulator, but when trying to test it on a physical device(with no dev server whatsoever), instead of opening the share extension, it opens up the host application.

Before this, it didn't opened anything and then i remembered to add the https://github.com/alinz/react-native-share-extension#test-on-device-without-dev-server.
Should this script be added to both ho

[2017-03-28 15:56] alinz commented on #30
@fk1blow Both share and app should have the script. Also make sure to register you share component in JS as well. This described [here](https://github.com/alinz/react-native-share-extension#share-component)

[2017-03-28 15:59] alinz commented on #29
This is a common problem with upgrading to new version of react-native. For react-native version 0.39 and below use `react-native-share-extension@1.1.0` for react-native@0.40 and above use `react-native-share-extension@1.1.1`

[2017-03-28 22:28] Tyrdall commented on #29
@alinz Thanks for the fast response.
I installed all latest versions, but those errors are still the case. :(

    "dependencies": {
        "react": "15.4.2",
        "react-native": "0.42.3",
        "react-native-share-extension": "^1.1.1"
    },

Those issues are popping up everywhere on the web, so I'll keep my eyes peeled for a possible solution.

[2017-03-29 08:50] fk1blow commented on #30
Both extension and host app are registered(and already where when i submitted this issue) and after your comment, i added the script to the host.
Again, it does the same - it opens the host app instead of the extension.

Running this again on the simulator, after require-ing both share and host app(inside the index.ios.js), it starts to behave exactly like the physical device, opening the host app

[2017-03-29 14:22] alinz commented on #30
One other thing, make sure the name of the component that you registered are currectly spelled in Objective-c code side of Share Extension. Double check the `moduleName:@"MyShareEx"` and replace `MyShareEx` with the one that you register inside `index.ios.js`

[code]

if that one doesn't work then you have to make a sample project and send it to me so I can debug it for you.

[2017-03-29 19:25] fk1blow commented on #30
both are the same, unfortunately!
I will try to do it natively, because i'm running out of time!

Thanks!

[2017-03-29 19:34] alinz commented on #30
Can you provide me a sample project? If you do I might be able to help you and get you going.

[2017-03-30 10:01] simsim0709 commented on #18
@alinz
How can I share login token in ios?
I first tried this package in android. It's working very well, but no luck in ios.
I store login token in `AsyncStorage`, and if there is login token I send request to rest api server.
Android is very fine, but I can't get the token data from share extension in ios.
It's always `null`,  although, in android it's working very well.

According to you,

Do I

[2017-03-30 10:16] luisfuertes commented on #18
@simsim0709 AsyncStorage isnt the same API that NSUser​Defaults, you can use this component to share token with NSUserDefaults: https://github.com/alinz/react-native-swiss-knife

[2017-03-30 10:56] Tyrdall commented on #29
It works now. I actually don't know what fixed it. I played around in Xcode and somehow the build went through recently.
Sorry for the trouble :(

[2017-03-30 10:56] #29 closed

[2017-03-30 13:47] alinz commented on #18
@simsim0709, as @luisfuertes mentioned, I have implemented react-native-swiss-knife to fix this issue of sharing anything between App and Share extensions. let me know how things go.

[2017-03-30 13:48] alinz commented on #29
@Tyrdall glad that you fix this, if you found the actual problem, would you please post it here as a documentation. Cheers!

[2017-03-31 09:12] luisfuertes commented on #18
@alinz and about this bug, for clarify, if you install some component incompatible with `-ObjC` and `-lc++` you cant use react-native-share-extension because you must add all your main project iOS librarys to the extension app

[2017-03-31 14:16] alinz commented on #18
@luisfuertes unfortunately even if I remove it, it won't be compatible anymore as of version 41 of react-native. from 41 they will add the `-ObjC` and `lc++` by default to the build schema. here's the PR for that https://github.com/facebook/react-native/commit/e0c3d56d3a5dcc68c1a7585275a051d781ade914

I think it's time for open PR to those library and make them compatible with these flags.

[2017-04-04 11:24] makepanic opened #31 "Class won't launch react-native view"
Hi there, great project.

I've added it to a react-native project and it works without issues on android.
Trying to use it in the iOS part, I have some issues starting the shared component.

The [rootView](https://github.com/alinz/react-native-share-extension/blob/master/examples/Sample1/ios/MyShareEx/MyShareEx.m) gets inserted and i can change its background color, but it won't launch the react-n

[2017-04-04 17:39] alinz commented on #31
Can you run the provided example?

[2017-04-10 17:48] npomfret commented on #8
I figured out why it wasn't working for me, well almost.  I hadn't linked all the relevant libraries and frameworks correctly in the share extension.  I didn't realise that importing my app, even though it isn't used, means that the share extension needs the exact same Xcode configuration.  Annoying partly because react-native link doesn't work on the extension.

I've now got the problem that when

[2017-04-10 18:53] alinz commented on #8
@npomfret can you prepare a sample project. I've been using this for a while and I haven't got the problem. If you can let me know so I can take a look into it.

[2017-04-10 19:10] npomfret commented on #8
It's ok, I just wasn't calling close properly.  It's working now (although still no debug and no logs).

I do have another question if you've got a moment:

How can I share state between my app and the share extension?  My app reads its _startup state_ from the filesystem when it boots, but the same extension seems to start from a totally different folder `/var/mobile/Containers/Data/PluginKitPlug

[2017-04-10 19:33] npomfret commented on #8
Maybe app groups is the answer: https://www.raizlabs.com/dev/2016/09/preparing-ios-app-for-extensions/

[2017-04-11 04:28] cbjs opened #33 "share image from chrome web page"
get value file://null

and

uri.toString() is content://com.android.chrome.FileProvider/images/screenshot/1491884783726318722338.jpg

[2017-04-13 16:37] markdaws commented on #27
I have some code that would do what you want - I had to update this extension to save the exported share item to a shared container because currently the share extension assumes that all images when shared will result in a NSURL, which isn't the case when you share items, it can return from loadItemForTypeIdentifier as a NSURL*, UIImage*, NSData* for the last two, UIImage*, NSData* I had to store

[2017-04-18 19:01] xuechaow opened #36 "Cannot resolve contact data on iOS"
Hi All,

This awesome module is working greatly on URL-based content sharing. However, when I try sharing contacts (Contact -> pick up a contact -> share this contact), there is no url giving out. How do we suppose to receive contact data from sharing extension?

Thanks!

[2017-04-19 09:14] npomfret commented on #36
I don't think all data types are supported yet.  Looking at [this](http://stackoverflow.com/questions/34260049/how-to-create-an-ios-share-extension-for-contacts)  it seems that vcard support might be what you're after.

I've recently submitted a PR for supported for arbitrary text.  Maybe we could do vcards next.

[2017-04-19 09:16] npomfret commented on #27
When I share images it always results in a file url being shared.  Under what circumstances would I get an NSData object or a UIImage being shared?

[2017-04-19 09:30] npomfret commented on #23
Did you find what was wrong?  Mine is crashing when deployed through fastlane also

[2017-04-19 09:32] npomfret commented on #21
You can use a shared filesystem.  With iOS app groups can share a directory where you could store your database.  I've recently had a PR accepted to react-antive-fetch-blob that adds a function which will return the name of the shared directory for a given app group.

[2017-04-19 09:59] npomfret commented on #23
Oh ok.  My problem is that it works fine in dev.  But when I send to fastlane it crashes.  The UI appears but it looks like when calling `ShareExtension.data()` it fails.  At least I don't see the shared data appearing on screen before the crash happens.  Very strange.

[2017-04-19 10:21] adrianotadao commented on #23
React native sometimes is sucks... it shows us generic errors. Another day I was receiving an error and when I decided to do a deep check I realized that the problem was inside the Intercom plugin. Always after this day, I check the libs almost before all.

Another big mistake that we stopped here is to add dependencies like. `'foo', '^1.0.1'` ... we had a problem with the update of libs, so, nowa

[2017-04-19 10:23] npomfret commented on #23
Agreed, never use wildcards in your dependencies - it's just madness.

I'm confident my libs are ok because it works when I run it outside of fastlane.

I even see the ui appear when running in fastlane... but no data and then a crash.  I've added crashlytics but nothing still...

[2017-04-19 11:27] adrianotadao commented on #23
hum... sorry man, I can't help you. There are a bunch of errors that I have no idea why. =l

[2017-04-21 00:17] kristoff-it opened #37 "Usage problem with wix/react-native-navigation on Android"
Hello, I've sucessfully used both libs together on `react-native@0.38` but after upgrading to `react-native@0.43`, I encountered a new problem that I didn't have before:

To perform the upgrade I created a new react-native project in a separared directory, moved in the source files I wrote and reapplied all the manual integrations one by one (namely: rn-navigation, rn-share-extension and rn-swiss-

[2017-05-12 20:59] npomfret opened #38 "prod crash"
My app is crashing, quite randomly when the share extension starts.  It works in dev/debug mode.  But when I launch it from test flight it crashes.  Not on all devices... can't spot a pattern but I've managed to find the following error.  Anyone else seeing this?

[code]

[2017-06-07 07:11] makepanic commented on #31
After trying to configure the project again it works without issues.

I guess something went wrong while doing the xCode setup.

[2017-06-07 07:11] #31 closed

[2017-06-19 16:44] itaibs opened #40 "Crashing on iOS when sharing from specific apps"
Hi!
First of all, thanks for the amazing package. Super helpful for our project.

I have everything set up and working on both android and iPhone. On android everything works perfectly and same is true for iPhone when sharing from chrome/safari.

But when trying to share from YouTube (and some other apps as well, e.g., notes) the share extension crashes with the next exception (I found on the cons

[2017-06-19 16:52] alinz commented on #40
@itaibs I have built this only for browsers to share links. One thing you can do is put the breaking point [here](https://github.com/alinz/react-native-share-extension/blob/master/ios/ReactNativeShareExtension.m#L64) and try to see why it causes that error. I'm going to look into this issue in few days as I progress in my app. if you can solve this I'm more than happy to accept your PR. other than

[2017-06-19 19:01] itaibs commented on #40
@alinz Thanks for the quick reply!

Considering my knowledge of native iOS programming is 0, I don't think I can be much help.
Glad to hear this is already something you plan on doing!

In the meanwhile, do you know how I can prevent the extension of showing up when sharing from unsupported apps?

[2017-06-19 19:23] alinz commented on #40
@itaibs one thing you should know that you need to set `NSExtensionAttributes` in your plist file for your app in order apple accept your app. Maybe you can dig into this and see if you can limit the access of share extension in certain area. You can look into [this](https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/ExtensionScenarios.html) and search for

[2017-06-20 14:59] itaibs commented on #40
@alinz Thanks for the heads up.
From what you are saying, I conclude (and please correct me if I'm wrong) that the following should be in Info.plist:
[code]
I have done this in my project and indeed the result is that my extension shows when sharing from browsers and doesn't show when sharing from apps like "Notes". YouTube, however, still shows my extension, I'm guessing because it does actually

[2017-06-20 16:21] alinz commented on #40
@itaibs yeah, that is correct. until I fix the issue, there is nothing you can do. and Please send me a PR updating doc and referring to this issue or the link to apple with some description and details.

Thank you

[2017-06-22 11:27] brenwarwcdg opened #43 "Crashing when closing extension on Android"
When running the following code in the Share Extension on Android:

`close = () => {
    ShareExtension.close()
  }`
...
`render() {`
...
`<TouchableOpacity onPress={this.close}>`
...

The app crashes with the error message:

`undefined is not an object (evaluating '_reactNative.nativeModules.ReactNativeShareExtension.close')`

[2017-06-22 12:06] njt1982 commented on #22
@adrianotadao same here - how did you resolve?

[2017-06-22 12:11] alinz commented on #43
Have you import the modules in either xcode or android studio? close function is an exported function coming from native side.

[2017-06-22 12:13] alinz commented on #22
@njt1982 I have been using this module with  react-native 0.45 without any issues. Please read the doc and follow the instruction. Pretty sure you missed something in there. Also, start with a plain simple project and try to get it to work.

[2017-06-22 12:30] brenwarwcdg commented on #43
This might be why it works on iOS and not Android, is the expected implementation in ShareApplication.java?

[2017-06-22 13:08] alinz commented on #43
have you read and apply all the required settings in here [android doc](https://github.com/alinz/react-native-share-extension#android). Also have you tried with sample project? Are you still getting an error? I think you missed one important things from doc, Check it again.

[2017-06-22 13:35] njt1982 commented on #22
I had the same issue as @adrianotadao - turns out you seem to need to compile the main target first?!

(I have followed the instructions).

[2017-06-22 13:52] njt1982 commented on #18
@adrianotadao @alinz I have raised https://github.com/devfd/react-native-google-signin/issues/251 as I am having the same issue.

[code]

We cannot include the Google library as it is not compatible with ObjC. Any ideas on how to progress with this problem?

[2017-06-22 13:56] brenwarwcdg commented on #43
Pretty sure I've applied all steps in the sample doc. Once I did it all I ran through Android Studio, which installed all the dependencies through gradle for me.

Also after trying to set up the project it seemed to halt on the device, refusing to open, but based off the example PROJECT everything looks fine..

[2017-06-22 14:07] alinz commented on #43
@brenwarwcdg if you can create an project example in github and send the url to me so I can debug it and see if I can find a solution for it. That's the only thing I can help you with.

[2017-06-22 14:12] alinz commented on #18
Unfortunately this is not the react-native-share-extension issue anymore. one quick advise, do not let user login with share extension. Share extension meant to be do one thing and one thing only. The user has to login into your main app and your main app share the credential with share extension.

I'm going to close this issue. Feel free to continue the discussion.

[2017-06-22 14:12] #18 closed

[2017-06-22 14:55] njt1982 commented on #18
Agreed about the login - however, I am not doing that here. As with @adrianotadao earlier, the login is from the main app. TBH I am a bit lost as to why the extension is even trying to include this.

[2017-06-22 15:27] brenwarwcdg commented on #43
Thank you very much for offering. I'm porting it over now..

[2017-06-23 08:38] brenwarwcdg commented on #43
Recreating this issue in another project has made me realise I missed adding the `new SharePackage()` to `protected List<ReactPackage> getPackages()`. Closing issue now..

[2017-06-23 08:38] #43 closed

[2017-06-26 16:37] adrianotadao commented on #22
@njt1982 I need to confess that I don't like so much React Native. Every single update that Xcode had, we had problems with the app. That's incredible!

About the error, I saw a lot of blog posts talking about the order on header search path. I changed everything and nothing had worked.

The bad news is that I don't know how I did the error disappear. In many of many times, the problem was with th

[2017-06-26 17:28] alinz commented on #22
@njt1982 I know the pain, unfortunately when you are working with edge technologies which only backed by community you always find yourself in this situation. To me that's the fun of it, figure things out the solutions and understand the concepts.

One thing I usually do, is commit small things and once I solve it, I do `git diff` to find out why and how. Also you are documenting how you solve the

[2017-06-26 19:26] njt1982 commented on #22
IIRC what fixed it for me was to compile and run the main application first, then the extension compiled and ran fine. For me it was caused by project build space being cleaned and the extension being unable to compile as the main project wasn't compiled. I *think* ;)

@adrianotadao I know what you mean. Sometimes a task which should seem simple snowballs for the most frustrating and obscure reaso

[2017-06-26 20:28] adrianotadao commented on #22
I entirely agree with both of you guys. hehehe I don't hate react-native. I like it, is better than write native code ( a thing that I already did) but, if for instance, the product owner, knows what is react-native, he will think that all things that we will create will be very easy and quick. So, when you have some these problems, the company starts to think that you are unable to do the job and

[2017-06-29 10:16] vishim commented on #18
@juhaelee - Did you find a solution for opening the app

@alinz Do you have an example of how to do this?

[2017-07-01 02:26] mferranti opened #44 "Published version is out of date (1.1.1)"
Please publish the latest code to npm. The current version is v1.1.1 which is over 6 months old and doesn't include several changes such as plain text share. Thanks!!

=)

[2017-07-01 04:07] alinz commented on #44
@mferranti DONE! version 1.2.0 has been published to npm!

[2017-07-01 04:07] #44 closed

[2017-07-01 14:09] mferranti commented on #44
thanks!!

[2017-07-03 16:55] benjie commented on #21
I just used https://github.com/oblador/react-native-keychain to share credentials between the share extension and the main app; there's two important things to note:

1. react-native-keychain defaults to a "service" of the identifier of the app, which differs between the app and the extension. Thus you must explicitly set them to be the same via the `service` option. (Took me longer than I'd like

[2017-07-05 19:31] andyesp commented on #31
@makepanic whay exactly did you do? I'm facing the same problem...

[2017-07-05 19:42] alinz commented on #31
@andyesp have you run the the provided example? If the example works, then you must have missed a step.

[2017-07-05 19:51] andyesp commented on #31
@alinz It's working on iOS debug, but it isn't woking in the build release. I think it's a configuration problem, but I've already tried a lot of possible solutions with no success.

The errors in the device logs are:

`Terminating app due to uncaught exception 'RCTFatalException: No bundle URL present.`

`Unable to bootstrap_look_up port with name net.taringa.app.share.gsEvents: unknown error cod

[2017-07-06 17:52] andyesp commented on #31
@alinz Sorry, It's working on the iOS simulator but not in real iOS devices.

I've already add the run script phase in the extension that is mentioned in the readme.

[2017-07-10 03:17] xuechinahb commented on #18
Same......
Now, I have a simple project  with basic configuration. [https://github.com/xuechinahb/ShareApp](url). react native V0.39.2. Only run on iphone. I open safari, then click share icon, nothing happened.

[2017-07-10 03:19] alinz commented on #18
@xuechinahb the link that you provided is broken. is this a private repo?

[2017-07-10 04:01] xuechinahb commented on #18
@alinz  try agin .

[2017-07-10 08:09] xuechinahb commented on #18
It is much  strange. Sometimes it is ok,  can show modal. Sometimes Safari has no response, Safari is dead, I must kill Safari and restart it. Moreover, as mentioned above, nothing happened.
When two projects or above  install react-native-share-extension, build and run with the one iphone, Safari will be no response.
When init a blank project, share extension works. But integrated into my current

[2017-07-13 13:06] mferranti opened #46 "Crashing on iOS by FB Bolts lib"
Hello, i am having a trouble with the share extension and other libs i hope to have an answer here.
When I open the extension it fails because there are missing libraries (the ones I use in the main app, such as google-sign-in, FBSDK, etc). If i add the missing libraries to the extension target,
Xcode will not let me build because "Shared Application" (used in Facebook Bolts lib) is not available

[2017-07-13 14:39] alinz commented on #46
This is not really the share extension issue, but what I would suggest is if you can find someone who actually uses these SDK along with native share extension. if you find one, then I will look into it and see what they have done and replicate the result.

[2017-07-18 13:25] bluey31 opened #47 "Crash when sharing from the iOS 11 screenshot editor."
The following project shows an example of a app that utilizes `react-native-share-extension` to the simplest level: https://github.com/bluey31/ShareTest11

When the share extension is triggered from Photos, for example, the share extension persists and can be interacted with. Although, when the share extension is triggered from the iOS 11 screenshot editor (that is presented in iOS 11 when a scree

[2017-07-19 11:45] itaibs opened #48 "On iOS: Native module cannot be null"
Hi,

We're experiencing an issue with our iOS share extension (android works perfectly) where when we try to use the extension it seems that nothing happens. When checking the system logs we get an error saying "Native module cannot be null".

After that it says: Module AppRegistry is not a registered callable module (calling runApplication)

We are linking all of the libraries, as far as I can te

[2017-07-19 12:52] alinz commented on #48
@itaibs, when I usually upgrade react-native, I found out sometimes, some of the modules are not linked properly. Double check that one.

Also, I did you force-clean, and build it again.

[2017-07-20 10:53] bluey31 commented on #47
I think I have found the code in question within `ReactNativeShareExtension.m`. When extracting data from the extension context an error occurs along the pipeline returning the image. My suspicions are that it is because it exists in memory, and not in storage, but I may be wrong. Another possibility is that it is a special type of NSExtensionItem attachment that isn't being picked up.

(I have re

[2017-07-20 10:55] bluey31 commented on #47
Maybe something like `- loadDataRepresentationForTypeIdentifier:completionHandler:` or `- loadFileRepresentationForTypeIdentifier:completionHandler:` needs to process the image instead?

[2017-07-20 13:30] FlorianGerhardt commented on #26
Any updates on this? Making the mimetype flexible would be awesome as I'm trying to share .pdf .ppt files

[2017-07-20 13:42] bluey31 commented on #47
Found the fix, PR created.

[2017-07-20 13:43] alinz commented on #26
since that list at the moment is static, it's better to expose that one as a JS function. Any one interested doing a PR?

[2017-07-20 14:01] alinz commented on #47
@bluey31 this is pretty good. Nice job. Look into it

[2017-07-24 13:42] itaibs commented on #48
@alinz, thanks for the reply.

I found the culprit. There is one library I'm not linking in the share extension, which is libRNFIRMessaging.a. This is a library used for react-native-fcm (for handling push notifications).

Linking it to the share extension creates a whole new class of issues which I prefer to avoid. I am not using this package at all in the share extension (obviously, no need to h

[2017-07-24 15:02] alinz commented on #48
@itaibs, I'm using that `react-native-fcm` for my app and I don't need to link to the that. notification only available for app not share extension and you should not link with that or your app will be rejected.

also I have attached the the list of library which I linked with my share extension.

![screen shot 2017-07-24 at 11 02 30 am](https://user-images.githubusercontent.com/967050/28529831-9a

[2017-07-24 18:42] itaibs commented on #48
@alinz I see. So I'm guessing there is something very basic I am not getting here, and would love some clarification.

Here's what I did to try and isolate the issue. My index.ios.js is as basic as it gets:

`import './shim.js';

import { AppRegistry } from 'react-native';

import Root from './src/components/root';
import Share from './src/components/share';

AppRegistry.registerComponent('QueueSh

[2017-07-24 23:47] alinz commented on #48
oh that's easy, instead of using `import`, you have to use `require`. I think I ran into this problem. I tried adding some variables to `global`. as you know in react-native, `global` is an object which can be share between all modules during the runtime, similar to `window` in `web`. I tried that but the code becomes too fragile. Then I remember that I have to use require.

so your code should be

[2017-07-25 13:23] itaibs commented on #48
@alinz This seems to have done the trick!
Thanks a lot for walking me through this :)

[2017-07-25 13:23] #48 closed

[2017-07-25 14:07] alinz commented on #46
@mferranti can you look into this [issue](https://github.com/alinz/react-native-share-extension/issues/48), I think this trick might resolve your problem

[2017-07-25 14:25] mferranti commented on #46
Nice trick! that issue seems similar to mine. I'm gonna to try it this week!

[2017-07-27 09:58] bluey31 commented on #47
I've re-opened the PR with a more thorough change, worth checking out.

[2017-08-09 09:42] adambmc opened #51 "Question on communication with share extension and main app"
Hi, thanks for this component.

On iOS all its fine configured and running, also I used the module [react-native-swiss-knife](https://github.com/alinz/react-native-swiss-knife) to enables sharing the URL value between share extension and the main app (workes fine).

My question is: how can I notify about the new URL value and open the main app after closing the share extension?

Thanks!

[2017-08-09 12:25] alinz commented on #51
as far as I know, you can't use openURL to open any app including the main app from share extension.

You can let the user know to open your app. if your app is not loaded, then you can get it from react-native-swiss-knife. if your app is already launched, you have to use [App State](https://facebook.github.io/react-native/docs/appstate.html) to detect opening your app and check if a new value has

[2017-08-09 12:25] #51 closed

[2017-08-10 13:00] adambmc commented on #51
Thanks for your quick response.

I manged to do it with openURL- first i set the URL scheme ([Register URL Schemes](http://johnsonsu.com/react-native-custom-url-scheme-launch-apps-using-linking/)), then i tried to implement it with RN but i couldn't make work, so i did it with Objective-C ([openURL Deprecated in iOS 10](https://useyourloaf.com/blog/querying-url-schemes-with-canopenurl/))

[2017-08-11 20:52] mferranti commented on #46
@alinz yeah!!! that trick works perfect to me. You can close this issue now.
A lot of thanks.

[2017-08-12 00:42] #46 closed

[2017-08-13 03:19] Faolain commented on #22
If it helps at all guys I fixed this issue by including in my header search paths for the files that were missing these files:

$(SRCROOT)/../../../node_module/React
$(SRCROOT)/../../../node_modules/react-native/React

[2017-08-13 03:25] Faolain opened #52 "How to Get Extension to Show up In Safari Share"
Hey great work Alinz. I followed all the instructions for installation and the build succeeded. However I'm having trouble seeing the extension show up when I press "Share" on Safari on the iOS Simulator. I press "More" and see the only default apps of Facebook, Twitter, and Reminders. How do I make my extension show up there? Is there a particular file which I should double check to make sure is

[2017-08-13 13:34] alinz commented on #52
if you can't see the extension app show up then you might have done/missed something during creating a new new share extension [here](https://github.com/alinz/react-native-share-extension#ios). double check the doc. if you couldn't be able to resolve it send me the example repo and I will look into it

[2017-08-13 17:21] Faolain commented on #52
Thanks alinz! I went over the steps again...and now it pops up. I guess it's possible I simply missed something although I had already gone over the steps twice before. As a follow-up question I used the extension example you have with the modal but when selected in the simulator, nothing happens. In addition the safari browser page seems to be "locked". Have you encountered this before?

[2017-08-13 17:57] alinz commented on #52
can you also add [this](https://github.com/alinz/react-native-share-extension#test-on-device-without-dev-server)

[2017-08-13 20:14] Faolain commented on #52
Just added. Build on Xcode still succeeds(Also Cleaning before just in case). However now when I try to run

`react-native run-ios`

I get the following in my terminal which prevents the ios simulator from opening up now.

<img width="980" alt="screen shot 2017-08-13 at 4 13 39 pm" src="https://user-images.githubusercontent.com/9613083/29253074-6f42f1ba-8042-11e7-9d0f-9ee68d8824bb.png">

[2017-08-14 02:14] Faolain commented on #52
Update: Not sure what I did but it works now. The only difference was that instead of just adding the selected libraries you have listed I added everything except *.tvos files. For anyone who is having trouble thats what did it for me. Thanks so much alinz!

[2017-08-14 02:14] #52 closed

[2017-08-15 11:00] adambmc commented on #27
**@alinz**- hi, I tried to implement your approach – saving the URL of the media content to the App Group, and then the main app used the share URL to upload the media content.

But when I try to upload the media content from the main app I getting an access denied exception:" Error Domain=_NSCocoaErrorDomain Code=257 "The file “Documents” couldn’t be opened because you don’t have permission to vi

[2017-08-17 18:25] ncnlinh commented on #18
I found a way to hack through this. In fact, you can even skip some of the libraries in **this**

![image](https://user-images.githubusercontent.com/7568367/29426993-f6ee1ace-83ba-11e7-89b2-f21aeb52015f.png) linking library part of the installation and just import whatever you need for the ShareExtension to run (such as basic libraries like `libReact.a`, `libRCTImage.a`, `libRCTLinking.a`, `libRCT

[2017-08-17 19:43] alinz commented on #18
@ncnlinh that is really good and as you mentioned in the last section, unless you want to hack the bundler itself. And that is why I put the whole registration there. one way to solve this elegantly without doing too much hack is [this](https://github.com/alinz/react-native-share-extension/issues/48#issuecomment-317587122).

you simply use `require` instead of `import` only at the boot time so you

[2017-08-18 14:49] claykohut opened #53 "Any way to leverage this to create an action extension on iOS?"
As seen here: https://www.promptworks.com/blog/building-ios-app-extensions-with-react-native

Thanks!

[2017-08-18 14:55] alinz commented on #53
@claykohut it should, as a matter of fact, we can (if you willing to send PR) convert this repo into react-native-extensions which combines this and the rest of the code to target all extensions support for both platforms.

[2017-08-21 16:12] wootwoot1234 opened #54 "Does this support iOS 8 and iOS9?"
Does this support iOS 8 and iOS9?

[2017-08-21 18:58] alinz commented on #54
Yes, share extension is introduced by apple in ios 8. so technically you can use it. I'm gonna close this but do you mind explaining why are you asking this?

[2017-08-21 18:58] #54 closed

[2017-08-21 19:00] wootwoot1234 commented on #54
Great.  I ask because I'm using another module that seems to be crashing my
app when used on iOS 9.  I just wanted to make sure before I spent the time
to switch over to this module.

On Mon, Aug 21, 2017 at 1:58 PM Ali Najafizadeh <notifications@github.com>
wrote:

[2017-08-21 19:07] alinz commented on #54
remember one thing, share extension doesn't support some native modules, such as Notification. So when you are using it, make sure that you are not loading any native modules. look into this https://github.com/alinz/react-native-share-extension/issues/48#issuecomment-317587122

[2017-08-30 12:45] TheTekton commented on #8
If you're struggling with debugging on iOS devices, there are a few things that can help save a ton of time, after following the README:

1. If you're using react-native latest, error boundaries might help with JS errors, although I've read that could be buggy as of RN 0.47.1 (will probably edit this comment after I've used them). Another option for now is to catch render exceptions or test for er

[2017-08-30 13:19] TheTekton commented on #8
@alinz Yeah, a bit time crunched for a few days, at least, but will do.

[2017-09-05 15:34] qinqing3761 opened #57 "modal show on iOS only one time"
Hello, I set up according to your steps, and then there was a very strange phenomenon,the modal box on ios can only show one time, the first time is normal, but after I call "`ShareExtension.close()`" function，evoke ShareExtension once again，only MyShareEx.m’s view appears the modal box no longer appears,
I have set “`rootView.backgroundColor = [UIColor redColor];`”,this is screenshots,
<img width

[2017-09-06 01:29] qinqing3761 commented on #57
@alinz

[2017-09-21 23:39] sw-yx opened #58 "just a blank screen?"
Hi @alinz and thank you for making this very promising module. however i have not been able to follow the instructions successfully. I can build the app but when i try to share from Safari it just shows a blank screen:
![image](https://user-images.githubusercontent.com/6764957/30723300-5cd8b556-9f04-11e7-8d6b-317d48b506dd.png)

i know you might be thinking that i didnt link the class but I did:

!

[2017-10-12 18:15] mweichert opened #59 "macOS (OSX) share extension possible?"
Is it possible to run this on macOS as well? I haven't found any node share extensions yet for macOS.

[2017-10-20 11:05] uriva opened #60 "Android sometimes getting empty strings"
On Android, every once in awhile the share extension send back to the js side a `{type: '', value: ''}` object.

From debugging this, it seems this happens for two possible reasons that both occur:

1) `getCurrentActivity` can return null

2) Sometimes the android intent type is null (`Intent.getType()`), even when the same share action is performed (sharing from chrome).

Any ideas?

[2017-10-20 11:26] uriva commented on #60
The first problem is also exposed when calling `ShareExtension.close` as it also uses `getCurrentActivity`.

[2017-10-27 14:56] alinz commented on #60
What would you do? Do you have some workaround on this? Would love to see some PR from you so we can start the discussion.

[2017-10-27 15:00] alinz commented on #59
@mweichert I don't think so. This is tightly couple to ios and android platform.  You are more than welcome to fork the project and make it work for macOS.

I'm still doesn't know what you are trying to do.

closing this as this is not related to this project. But you are welcome to continue the discussion here.

[2017-10-27 15:00] #59 closed

[2017-10-27 15:04] alinz commented on #58
@sw-yx have you be able to run the sample code provided by this repo?

Unfortunately the whole process of getting it running is also painful. If you search through the issues, some people experiences the same problem and at the end, they missed one step. Double check again.

You can also push your code in a repo and link it here so I can look into and give you feedback.

[2017-10-27 15:05] alinz commented on #57
@qinqing3761 can you push your code into a repo and I will look into it. It could be a lot of things.

[2017-10-27 20:03] sw-yx commented on #58
i have tried this a couple times and i dont know if i missed any steps. I will try again over this weekend. thank you for being so supportive of your users!

[2017-11-02 20:13] Asleepace opened #61 "Opening video file freezes application"
**Environment**
react-native: 0.45.1
release version
android: 7.0
ios: 11.1

Hi the ShareExtension has been working great for images, text & links, but seems to crash my application when opening a video. This happens on both iOS and Android, and it seems to stall on this line:

`const { type, value } = await ShareExtension.data();`

Any help would be greatly appreciated thanks!

[2017-11-02 20:22] alinz commented on #61
@Asleepace, Don't use the `data` method to grab the data for video, instead get the path of the video. And also share extension meant to be use to do one thing and one simple tasks. If you need to do more complex operation, you should prompt the user to go back to your main app and load the content there for further processing.

[2017-11-02 20:25] Asleepace commented on #61
@alinz awesome, thanks I will try that out! Also is there any way to determine the type before hand so I can either use the video url or get the data?

[2017-11-02 22:50] Asleepace commented on #61
@alinz hey I forked the repo and have it working for iOS, I'll submit a PR once we get it working for Android too.

[2017-11-09 01:06] exentrich opened #64 "Memory limit issue on iOS"
Thank you very much for this great library!

Right now i have only one issue. When i open and close extension, memory consumption only increase (double every time). After some reopens of extension it crashes because strict memory limits for extensions on iOS.
It looks like when extension is closed it not freeing memory.

Maybe you have some ideas, how to force free memory?

[2017-11-10 20:30] matthew-black opened #65 "Imports failing in the MyShareEx.m file"
I've tried three times to get this to work, being super careful to verify everything was exactly what the setup instructions wanted me to do. When I get to this point:
https://d.pr/i/BKJj6v

I get this:
https://d.pr/i/Zntfu6

If I comment out line 10, then line 11 fails. (Same story for line 12 if I also comment out line 11.)
https://d.pr/i/8W7qvb

Does anyone know what might be going on?
I'm usin

[2017-11-10 22:50] #65 closed

[2017-11-11 21:07] exentrich opened #66 "iOS, AppStore share"
![image](https://user-images.githubusercontent.com/1203812/32693516-60613cbe-c73d-11e7-93f4-7d3951cd389b.png)

When i try to share from App Store, extension crashes with this error.
Very strange, because AppStore probably not sharing an image, but link.

[2017-11-17 12:22] karlAlnebratt commented on #64
I concur, thanks for a great lib!

I'm experiencing the same issue.
I have followed the steps described in the README and created `Separated bundles`.
The app is built with release config.

And after opening the share extension three or four times it crashes.
Running on an iPhone 7 iOS 11.0.3

Please let us know if we can assist in any way.

[2017-11-20 15:17] exentrich commented on #64
I fixed this in weird way:
Just call some failing function in js. It will crash silently extension and release memory 👍

[2017-11-20 20:25] exentrich commented on #66
I found reason why sharing from many apps (AppStore, iTunes, Shazam...) not getting url or text.
Because in source you have loop on item.attachments, and it stops when found first illegable attachment. But often first found item is empty.

Temporary solution is to comment line in ReactNativeShareExtension.m
`*stop = YES;`

[2017-11-21 11:52] karlAlnebratt commented on #64
@exentrich thanks for the idé 👍 I will implement this on my end until there is a patch for the memory issue

[2017-11-21 18:04] nicholasess opened #68 "Android - when show the app share, the area is with padding"
![screen shot 2017-11-21 at 3 18 13 pm](https://user-images.githubusercontent.com/3238901/33088707-8ca39b7e-ced5-11e7-9274-b3cb1c876ca8.png)

react-native 0.45
android 5.0

[2017-11-22 17:22] cyxen opened #69 "work with expo?"
Hi,
react-native-share-extension work with expo (https://expo.io/) ?

[2017-12-03 23:36] sonirad88 opened #70 "Shared bundles issue"
Hi. I need solution where my extension and main app will share same storage (use AsyncStorage). Guess shared bundles will help me achieve that?
Following the steps i stop on two issues:
1. cant find appShareExtension target's "Bundle React Native code and images" phase
2. what is cp-native-assets? script or?
Thanks in advance

[2017-12-04 01:39] TheTekton commented on #70
Might need to make a PR to help clarify the docs and add some images; will try to make some time early in the week. The extension and main app containers are isolated from one another. You will need to create an app group with your Apple Developer account. See "[Adding an App to an App Group](https://developer.apple.com/library/content/documentation/Miscellaneous/Reference/EntitlementKeyReference/

[2017-12-04 15:12] mferranti opened #71 "Error after updating to RN 0.47.2?"
Hi, i was this library working fine but some day (i think after upgrade React Native) this broke.

XCode build okey but when i share something from safari, camera roll or somewhere y have this error in console.

`Dec  4 11:57:41 MacBook-Pro-3 com.apple.CoreSimulator.SimDevice.21D351FD-0739-4DD1-8F0E-314B3F435FCA[21975] (myapp.debug.share) <Warning>: Unknown key for Boolean: EnableTransactions
Dec

[2017-12-04 17:29] tallen11 opened #72 "Cannot close extension iOS"
Couple of issues:
- My extension will not close once it is open. I doesn't appear that the native close method is being called at all, but I could be wrong about that.
- The background color is completely white, not transparent like in the example, but I've implemented the code like in the example.

I'm on React Native 0.5+
Thanks

[2017-12-04 17:42] tallen11 commented on #72
My mistake, looks like the modal props have changed in RN 0.5+. It works fine now. The background color of the view is still opaque though so I'll leave this open for now.

[2017-12-04 17:43] tallen11 commented on #72
Just needed the transparent prop set to true, closing...

[2017-12-04 17:43] #72 closed

[2017-12-05 00:42] TheTekton commented on #70
@sonirad88 Let me know if you have further questions. I can try to clarify more, if necessary.

[2017-12-05 09:48] sonirad88 commented on #70
Thanks @TheTekton for good explanation. I thought that shared bundles will help me use AsyncStorage for both my extension and main app but now i see that only option to me is open App Group. Im waiting for my developer account so i can create group and probably i will use this library from alinz 'react-native-swiss-knife' (probably i will change instead string to store array/dictionary). I hope th

[2017-12-06 17:51] pierretanguay opened #74 "Sharing Photos / Sharing from Library Only"
Hello! Thank you so much for doing such an awesome job with this extension.

Is there a way to allow sharing screenshots only and hide the extension for any other type of shares?

Also, I've managed to install the extension correctly but the Extension doesn't show up when I try to share an image from the Photo Library.

Thanks!

[2017-12-07 21:08] tallen11 opened #75 "Dismissing Extension on Android doesn't return control"
Dismissing the share extension on Android doesn't return control back to the host app i.e. Chrome. The modal is dismissed but the screen (Chrome) remains darkened and unresponsive to touch. On React Native 0.5+. Anyone else have this problem?

[2017-12-11 03:44] kevando opened #76 "Safari appears to freeze after trying to use share option"
Great installation instructions. I think I followed them precisely and I get no response when I use the share icon in safari and nothing in the logs (even after uncommenting the debug line)

This is what happens:
http://www.giphy.com/gifs/3o6fJgk6hzvRcamF4Q

If I am using pods, do I need to do anything extra to make that work?

[2017-12-11 03:45] TheTekton commented on #76
Nothing of note in device log and console log both?

[2017-12-11 18:18] kevando commented on #76
@TheTekton No, I added the OS_ENV enable setting to the scheme and uncommented the log level in the .m file. Pods don't mess anything up? Like I need to include that into the share extension target?

I will try to get the sample project working before I comment again here.

[2017-12-13 21:43] exentrich commented on #76
Try my fork https://github.com/raindropio/react-native-share-extension
It works for any app. I experienced many apps that not work with current version of this lib.

[2017-12-14 22:52] TheTekton commented on #76
@kevando Any progress? If you get a sample going, I'll take a look. Pods shouldn't mess anything up. And you'd probably notice right away, if they were an issue, I think.

[2017-12-21 05:37] marknutter commented on #76
@kevando I ran into this exact issue and was able to figure out a way around it. I had to run the main react native app from xcode, wait for it to launch in the simulator, and then go back to xcode and run the share extension app, choosing safari as the app it runs from when prompted, and waiting for safari to launch. From there, I was able to share from Safari and the modal popped up as expected.

[2017-12-28 09:02] sudeepagarwal24 commented on #76
Getting RCTbridgeModule.h  error using Detached from Expo Project In Demo Project Working Perfect .

[2017-12-29 11:28] sudeepagarwal24 opened #77 "when we use in Expo project after detaching getting Error(React/RCTBridgeModule.h not found )"
After detaching from Expo, I’m trying to add the React Native Share Extension but getting below error. If someone can help would be very grateful.Please
Find the screenshot for referencing.
![screen shot 2017-12-28 at 8 37 16 pm](https://user-images.githubusercontent.com/31211678/34436183-3cd80ad8-ecb9-11e7-9f33-0403d33912b1.png)

[2018-01-03 10:14] max-prokopenko commented on #68
Setting `<item name="android:windowIsFloating">` to `false` in styles.xml solves this isses

[2018-01-04 17:45] pierretanguay commented on #74
Just found out - just needed to add NSExtensionActivationSupportsImageWithMaxCount in the info.plist and remove any other extension activation entry

[2018-01-04 17:45] #74 closed

[2018-01-09 22:34] pierretanguay opened #78 "Base64 of selected image"
I am trying to extract the base64 of the image contained in the "value". Is there any way to do that or do I need another package?

[2018-01-12 06:15] parkerdan commented on #21
@benjie, can you please explain more on how you go this to work?  I am trying to share data from the main app the the share extension with `react-native-keychain` and I keep getting `false` when calling the `getGenericPassword` on the share extension...

[2018-01-12 08:34] benjie commented on #21
Sorry, that’s all I remember. I do remember expecting some things to be the same but they turned out to differ and that was the issue ultimately (though I don’t remember which thing that was); I suggest you look at each of the values I have mentioned in the compiled app and see where the disparity lies. Good luck!

[2018-01-12 16:31] parkerdan commented on #21
@benjie, thanks anyways.

FYI, I have this working and can put together a tutorial if anyone gets to this message and needs clarification.  I have only developed iOS so far, but the goal is both platforms

[2018-01-15 18:28] guydu commented on #76
Hey folks, I'm also stuck on the same issue.. any ideas?

[2018-01-17 20:13] pierretanguay commented on #78
I used RNFS to do this:

[code]

[2018-01-17 20:13] #78 closed

[2018-01-18 11:06] marcoizzo opened #79 "Use with Pods (firebase)"
Hi guys,

thanks for this component.

I'm trying to implement a share extension with a firebase-based app. So I have created a pod file and generated a .xcworkspace project.

I followed all installation tutorial and all same ok, but when I try to launch the extension Xcode console says:

`RNFirebase core module was not found natively on iOS, ensure you have correctly included the RNFirebase pod in

[2018-01-19 19:35] pierretanguay opened #80 "Getting multiple values (from multiple images)"
Hello!

I am trying to get the value of multiple images selected with the share-extension (Going to photos selecting 2-3 images and pressing on my share extension)

`this.state.value` only returns the last image selected. Is there a way to iterate through all the values selected?

Thank you!

[2018-01-21 18:37] uriva commented on #60
Still happening, have no idea why :(

[2018-01-21 18:47] tallen11 opened #81 "Debugging Issues"
How do I actually debug anything with this lib? My share extension has been working fine but randomly started crashing (freezing safari) and nothing is being printed out anywhere. How can I get some error messages?

[2018-01-22 16:53] matejkriz commented on #25
You could add JS reimplementation of dev menu like this one:
https://github.com/matejkriz/react-native-today-widget/tree/master/lib/DevMenu

[2018-01-23 00:29] tallen11 commented on #81
Thank you. The only thing that may be being printed regarding the crash is this: Service exited with abnormal code: 1

But I can't really tell because that message seems to be popping up over and over again regardless of whether or not I'm opening the extension in Safari.

[2018-01-25 13:21] karlAlnebratt commented on #68
@max-prokopenko thanks for the help. that work 👍

[2018-01-25 13:55] AbdelhalimAhmed commented on #76
any ideas guys it's very stuck ?!

[2018-01-26 15:45] AbdelhalimAhmed commented on #27
@adambmc which plugin are you use to upload content in main app?

[2018-01-29 05:53] tallen11 commented on #77
Getting this too, anyone have a solution?

[2018-01-29 08:11] adambmc commented on #27
@alinz- hi, thank you for the response. i managed to fix the problem by writing the file to a temporary folder and then sharing the path with the main App using App Group.
Please close this issue.

Thanks.

[2018-01-29 20:22] pierretanguay commented on #80
I havent had any success with this. Anyone can help me to return the path of multiple selected photos in `this.state.value` ?

[2018-01-31 16:03] FMaulwurf commented on #57
@qinqing3761 I am just guessing but it seems like the Modal is not showing properly.

I had a similar issue.

[code]

The Modal gets this showModal bool as visible parameter and it is true as default. Closing the Modal via a TouchableHighlight calls this _onClosePress function.

Maybe this helps.

[2018-01-31 21:18] tallen11 commented on #76
Same deal here, anyone have any way whatsoever to get some sort of error message?

[2018-02-05 13:13] pramjeet commented on #71
@mferranti Have you able to resolve this issue?

[2018-02-06 18:12] nicholasess commented on #68
@max-prokopenko thanks too

[2018-02-06 18:12] #68 closed

[2018-02-07 12:23] pkantsedalov commented on #77
+1

[2018-02-08 09:09] pkantsedalov commented on #18
@alinz
First of all thank you for your work.

About this issue: I can't get rid of it simply using `require` instead of `import`.
BTW to make it work locally @ncnlinh's solution using separate `share.js` file works fine.

But am I right that in order to bundle an app I have to keep one - `index.js` - file, not two of them?

[2018-02-08 17:27] pkantsedalov commented on #21
@parkerdan
Please share the tutorial with me in any way preferable for you.

[2018-02-09 17:39] tallen11 commented on #76
I've found that this issue arose after adding in the [react-native-google-sign-in](https://github.com/joonhocho/react-native-google-sign-in) package. Is anyone else using this package and also having this issue?

[2018-02-12 10:42] i25878427 opened #83 "share extension crashes in release mode when trying to share a link form Safari"
Hi,

Thanks for this amazing lib.

The share extension works perfectly on my simulator and on my device in debug but when I release a version using fabric to my device the app extension crashes immediately when trying to share a link form Safari.

Any idea what might be causing this issue?
(I am also using app group to share data between my app and the share extension)

I tried to Crashlytics in o

[2018-02-13 03:34] dolphinflow86 commented on #79
Same issue here.

[2018-02-17 17:30] i25878427 commented on #83
The solution for my problem was having the same file as an entry point (app and share extension). Also I had to use require for the AppRegistry.registerComponent

[2018-02-26 21:01] pierretanguay commented on #80
Is there any ways to get multiple values when sharing multiple images?

[2018-03-03 12:43] alexkuttig commented on #79
Did you include the RNFirebase Project in your extension's build target Link Binary With Libraries? It seems like Firebase is installed correctly but you native RNFirebase Project is missing...

[2018-03-06 10:30] marcoizzo commented on #79
I've solved with the creation an app group between the app and the extension

[2018-03-09 16:21] danielsuo commented on #64
@exentrich @karlAlnebratt hysterical. For future comers, I wound up modifying the close method to both crash and add an animation.

[code]

[2018-03-11 22:12] BigPun86 opened #85 "ShareExtension "screen" doesn´t appear"
I have followed the instructions and double checked it many times but coulnd´t find any difference in the code. When i try to share an image or an url the photo app or safari app freezes. Now i really have no idea what the reason could be, but maybe it has to do something with my js code and my structure i am using? i have no main index file i am using the classic index.android & index.ios and wit

[2018-03-12 10:38] BigPun86 commented on #76
Facing the same issue when trying to share something from Safari or Image Gallery.
    "react": "^16.0.0-beta.5",
    "react-native": "0.53.3",
    "react-native-share-extension": "^1.2.1"

[2018-03-12 15:23] BigPun86 commented on #79
@marcoizzo can you explain me exactly what you mean? I am not really sure how to do this :)

[2018-03-12 15:48] marcoizzo commented on #79
@BigPun86 you have to create an app group. To do this:
1. Click on you project name under navigator
2. Click on your target > Capabilities tab > Enable App Groups
3. Do same operations with app extension target

Then add linked framework and libraries required (libRNFirebase.h) under general tab

I hope this useful :)

[2018-03-13 13:57] BigPun86 commented on #79
@marcoizzo Unfortunately it didn´t help. But thanks for your explanation. I am using Crashlytics aas well in my pods. I tried to add both libRNFirebase & lib..Crashlytics. I still receive the errors and it wont build my project. I f i remove crashlytics and firebase as linked libraries it will build, but then the app hangs as soon as i share something (URL or Image). Any ideas how to fix that?

[2018-03-13 14:05] marcoizzo commented on #79
@BigPun86 what's the error during building?

[2018-03-13 14:14] BigPun86 commented on #79
@marcoizzo this is the error i am getting:

<img width="547" alt="screen shot 2018-03-13 at 15 12 53" src="https://user-images.githubusercontent.com/7880624/37346968-12f883e4-26d1-11e8-9ba0-b615846bfcde.png">

This is how my PodFile looks like:

`# Uncomment the next line to define a global platform for your project
# platform :ios, '9.0'

target 'SomeApp' do
  # Uncomment the next line if you're

[2018-03-13 14:17] marcoizzo commented on #79
@BigPun86 Do you have added `-ObjC` and `-lc++` as linker flags?

[2018-03-13 14:17] BigPun86 commented on #79
@marcoizzo i added it to the Share Target, yes.

[2018-03-13 14:23] marcoizzo commented on #79
@BigPun86 mmm... it seem that the problem is Fabric, but I have never used it so I don't know... Try to remove it in your extension to understand if really crashlytics is the issue

[2018-03-13 14:24] BigPun86 commented on #79
@marcoizzo now i am getting some React related issues. Maybe u can show me how you have set up your Header Search Path?

This is how mine looks right now:

<img width="605" alt="screen shot 2018-03-13 at 15 23 46" src="https://user-images.githubusercontent.com/7880624/37347634-92ae610c-26d2-11e8-8736-331260ec8c0a.png">

[2018-03-13 14:28] marcoizzo commented on #79
This is mine
<img width="499" alt="schermata 2018-03-13 alle 15 27 24" src="https://user-images.githubusercontent.com/13518657/37347905-30ce6c24-26d3-11e8-820e-c662b7a1cda1.png">

[2018-03-13 14:31] BigPun86 commented on #79
@marcoizzo many thanks, i will check it. So actually your Header Search stuff is exactly the same as the one you use for your main target app?

[2018-03-13 14:32] marcoizzo commented on #79
@BigPun86  Yep!

[2018-03-14 02:27] ericlewis commented on #83
@i25878427 by entry point you mean bundle right? and by require, you mean instead of import?

[2018-03-14 06:46] i25878427 commented on #83
@ericlewis - entrypoint- for eample: index.js (make sure that native code is pointing to this file) will be used for both the app and the extension. In the index.js use require instead of import, for example-
AppRegistry.registerComponent('ShareApp', () => require('./shareApp').default)
AppRegistry.registerComponent('MyApp', () => require('./myApp').default)

[2018-03-14 07:05] ericlewis commented on #83
Thank you.

Sent from my iPhone

[2018-03-14 22:25] #85 closed

[2018-03-14 22:28] BigPun86 opened #86 "How to navigate from ShareExtension to MainApp"
Maybe i am not correctly understanding how the Share Extension should work so someone could correct me if necessary :)

I actually want to use the ShareExtension in order to Share an Image with my App. I set up everything correctly and the share modal from the Sample shows up. Now how do i actually tell the ShareExtension to enter the MainApp with its value & type?

Best regards

[2018-03-19 10:07] Saad-Bashar commented on #85
Did you figure it out @BigPun86? I also changed the color but nothing happened.

[2018-03-20 11:51] aliszafar1 commented on #86
+1

[2018-03-20 11:55] aliszafar1 commented on #76
same issue
react native 0.45

[2018-03-22 12:20] isaachinman commented on #80
@pierretanguay Did you end up finding a solution for this? I am searching for a cross-platform way to accept multi-image share receiving.

[2018-03-22 13:07] isaachinman commented on #27
@markdaws Hi, and thanks for this super helpful work! Almost a year has passed from your comments and I am searching for a cross-platform way to accept multiple-image sharing from other apps (not from a browser). Did you make any progress on Android support in your case?

[2018-03-22 17:26] isaachinman commented on #80
@pierretanguay That is awesome! Thank you so much, I will proceed with that fork. You probably just saved me days or weeks of time.

[2018-03-22 17:26] pierretanguay commented on #80
I had the same feeling!

[2018-03-23 11:52] isaachinman commented on #77
Also getting this error, but not related to an Expokit project.

[2018-03-23 12:42] isaachinman commented on #77
@sudeepagarwal24 Did you find a solution?

[2018-03-23 21:58] remch1990 opened #87 "share extension crashes when trying to share an Image form Whatsapp"
Exception in native call
java.lang.IllegalArgumentException: column '_data' does not exist
	at android.database.AbstractCursor.getColumnIndexOrThrow(AbstractCursor.java:333)
	at android.database.CursorWrapper.getColumnIndexOrThrow(CursorWrapper.java:87)
	at com.alinz.parkerdan.shareextension.RealPathUtil.getDataColumn(RealPathUtil.java:103)
	at com.alinz.parkerdan.shareextension.RealPathUtil.getRe

[2018-03-24 11:56] isaachinman commented on #86
I am also wondering the same thing. In general, I wonder what the reason is for splitting the ShareExtension into a separate application, as in most use cases you're going to want to handle the received data in your main app. Maybe someone can explain this to me.

Aside from that, it seems to me the way to go is to have your ShareExtension do some simple data transformation and then launch your ma

[2018-03-24 12:02] isaachinman commented on #80
@pierretanguay One other question, how are you handling passing the actual data into your main app from the share extension? It seems opening urls is not allowed in iOS app extensions, so I cannot see how to do this.

[2018-03-24 12:07] isaachinman commented on #51
@adambmc Can you explain a bit more about how you achieved this? As @alinz says, you are not really supposed to be able to use `openURL` inside share extensions on iOS.

[2018-03-24 15:47] matejkriz commented on #51
@isaachinman You could use `openURL` method of `NSExtensionContext`: https://developer.apple.com/documentation/foundation/nsextensioncontext/1416791-openurl?language=objc

Here is the implementation of native module for Today Widget: https://github.com/matejkriz/react-native-today-widget/blob/master/ios/TodayWidgetExtension/Linking.m

[2018-03-24 15:50] isaachinman commented on #51
@matejkriz Unless I misunderstood, that only applies to Today extensions. This utility, `react-native-share-extension`, specifically works with Share extensions. It seems like your proposed solution avoids this repository completely?

[2018-03-24 15:54] matejkriz commented on #51
@isaachinman I believe you could reimplement the same for `react-native-share-extension`. Share extension also use `NSExtensionContext`: https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/Share.html#//apple_ref/doc/uid/TP40014214-CH12-SW1

[2018-03-24 16:49] matejkriz commented on #51
@isaachinman BTW: https://github.com/alinz/react-native-share-extension/pull/67/files

[2018-03-24 16:55] isaachinman commented on #51
Ah wow! I had no idea you had a PR open. There are several PRs open for this project that add extremely useful functionality (eg multi-image support, and this). I will check it out now. Thanks!

[2018-03-24 17:02] matejkriz commented on #51
It's not mine PR, I just have it in bookmarks because I was looking for inspiration for react-native-today-widget...

[2018-03-24 17:06] isaachinman commented on #51
Yeah, I saw that as soon as I opened it. It's a familiar face, @birkir. I assume he has deployed apps with Apples approval containing this method (?).

[2018-03-25 08:10] isaachinman commented on #86
@BigPun86 @aliszafar1 Please check out the discussion on #51. There's a PR on this repository that is incredibly simple and allows you to open your host app via your share extension.

Then, just do something like this in your share receiver component, depending on your individual needs:

  async componentDidMount() {
    try {
      const data = await ShareExtension.data()
      const urlSafeData

[2018-03-25 20:44] birkir commented on #51
Yes, this method passes apple's approval 👍

[2018-03-26 10:49] isaachinman opened #88 "Is it possible to somehow retrieve the name of the app which launched Share Extension?"
Hello, and thanks for a fantastic project! I have this up and running on both platforms.

One question I have - is it possible inside the Share Extension to have access to the application which opened the Share Extension in the first place?

I am building an image-based application, and I'd like to keep track of which applications each of the images came from, if possible. First, I'm not sure if t

[2018-03-28 14:28] BigPun86 commented on #86
@isaachinman thanks man. I actually got it working exactly like this using one PR where they have implemented openURL natively into the share-extensions AppDelegate. Now this works all great when the Main App is opened or in background etc. But it does not work when the app is completely closed. Maybe react-native-swiss-knife will solve this, i will test it tomorrow

[2018-03-30 14:56] isaachinman commented on #88
@alinz Any info on this?

[2018-04-03 13:02] BigPun86 opened #89 "Invalid image path obtained from ShareExtension.data"
When i open the app and pass the image url which i have obtained from value of ShareExtension then in my real device the imgPath wont work! I actually cannot use the url which looks like this:

/private/var/mobile/Containers/Data/PluginKitPlugin/09BD2F36-975D-4DB4-80FD-2446799A48AE/tmp/RNSE_TEMP_IMG.png

I have tried to check if the imgPath is available. I did this with react-native-fs and there i

[2018-04-04 03:26] linweigao opened #90 "The share extension is not available on iOS device"
Thank you for the great lib and I have made everything work on the simulator, but once I deploy the release version to my iOS device. It seems the share extension is not registered.

Anyone know how to fix that?

[2018-04-04 17:33] NikitaPokryshko commented on #90
@linweigao What react-native version do you use?

[2018-04-04 17:44] igorkulka commented on #90
@linweigao I have the same problem even if I run debug version on real iOS device (iphone 5s). Simulator works great. Do you already have any solution? @NikitaPokryshko my version "react-native": "0.52.0"

[2018-04-04 19:44] NikitaPokryshko commented on #90
Did you complete all steps in both platforms?
I can't make it works correctly and thought the library does not support the latest versions of react native.
Also I have a question about index.js: do you make 2 index.js files for ios and android?

Thank you in advance

[2018-04-04 19:44] NikitaPokryshko commented on #90
@igorkulka Did you complete all steps in both platforms?
I can't make it works correctly and thought the library does not support the latest versions of react native.
Also I have a question about index.js: do you make 2 index.js files for ios and android?

[2018-04-04 20:28] linweigao commented on #90
react-native: 0.54.4
I can make it work in iOS with simulator, but the sharing extension is not available after I deploy it to a real device.
I guess it is a bundle issue.

[2018-04-04 20:29] linweigao commented on #90
@NikitaPokryshko I have a shared index.js, but you can make 2 different js if you want. Here is my repro: https://github.com/linweigao/react-native-app-share-extension which has iOS app integrated already.

[2018-04-04 20:30] igorkulka commented on #90
@linweigao I found out that I had deployement target for the extension in xcode set for ios 11.3 but I deployed it to ios 11.2.6

[2018-04-04 20:32] igorkulka commented on #90
@NikitaPokryshko I just tried to make it run for iOS

[2018-04-04 22:06] linweigao commented on #90
@NikitaPokryshko thx. You nailed it. The iOS version matters.

[2018-04-04 23:59] #90 closed

[2018-04-05 09:24] NikitaPokryshko commented on #90
@linweigao Thank you very much! It works! You saved me from the headache for today =))
@igorkulka Thanks for you too, this is valuable information, I suppose that I will also face this in the near future

[2018-04-11 14:54] abarisic86 commented on #38
Did you manage to find solution?

[2018-04-12 14:27] BigPun86 opened #91 "Sharing Image with Host App wont work..."
Hey there.

I have forked the share extension module and added some additional functionality as sharing the image was missing as well as "navigating" to my host app.

Everything works just great when i am sharing the image with the host app on the simulator. But when i do the same steps on my real device somehow the image wont be displayed.... So my first thought was that this has to be related to

[2018-04-15 16:17] daviswhitehead commented on #79
@marcoizzo Any more information you can share on your successful setup? I would really appreciate any help you can give towards adding rnfirebase!

I've previously got the share extension working without rnfirebase. Below is some information about my attempt to integrate rnfirebase.

**Share Extension**
ShareExtension.m
![image](https://user-images.githubusercontent.com/8632165/38780531-e6f177bc-4

[2018-04-15 18:05] BigPun86 commented on #79
@daviswhitehead could you atleast build without issues, or does this already fail?

[2018-04-15 21:27] daviswhitehead commented on #79
I can build successfully without trying to integrate rnfirebase. But when I do, I get the following error, which I believe you were seeing as well right @BigPun86 ?
![image](https://user-images.githubusercontent.com/8632165/38783606-3acfbc5a-40d2-11e8-8d8a-f4d95bfc9c70.png)

[2018-04-15 21:34] BigPun86 commented on #79
@daviswhitehead yeah, i had exactly the same issue. i cant remember what i have done which fixed it...but i think it was enabling AppGroups, maybe you can just try that. If not i hope my setup will help you:

Linked Libraries and Header Search Path setup of the main App:
<img width="978" alt="screen shot 2018-04-15 at 23 31 10" src="https://user-images.githubusercontent.com/7880624/38783643-50deed

[2018-04-15 21:54] daviswhitehead commented on #79
@BigPun86 what does your appgroup look like? does this look correct to you? (both the main app and extension look the same)

![image](https://user-images.githubusercontent.com/8632165/38783831-faa1843e-40d5-11e8-9a46-54a0982f7527.png)

[2018-04-15 21:59] daviswhitehead commented on #79
I'm getting the same error regardless of if I have App Groups on or off. Any ideas?

[2018-04-15 22:01] BigPun86 commented on #79
@daviswhitehead yes, but you have to enable it for both, the ShareExtension & the Main App.

[2018-04-15 22:01] daviswhitehead commented on #79
Yep I've enabled for both and am getting the same error.

[2018-04-15 22:03] BigPun86 commented on #79
@daviswhitehead did you run pod install & react-native link after your changes too?

[2018-04-15 22:06] daviswhitehead commented on #79
Unfortunately, yes I have and am still on that same error.

[2018-04-16 07:34] npomfret commented on #38
Sorry, no.  I gave up.  I went through commenting out code until i found the line that was causing it but never quite got there.

[2018-04-16 14:37] daviswhitehead commented on #79
I was able to get the firebase pods linked by removing all pods under the extension and adding the line `inherit! :complete`.
However, the extension is now failing at `[FIRApp configure];` in the ShareExtension.m file. Upon debugging, my thread get's killed
![image](https://user-images.githubusercontent.com/8632165/38815480-0655be26-4162-11e8-9a88-a2a7d2bcf8f9.png)
and I get the following output `

[2018-04-18 09:08] Runjuu commented on #76
solve the problem

* my index file is `index.js` not `index.ios.js`, but in [readme's MyShareEx.m](https://github.com/alinz/react-native-share-extension#set-the-nsextensionactivationrule-key-in-your-infoplist) is using `index.ios`, so I need replace `@"index.ios"` to `@"index"`
<img width="457" alt="image" src="https://user-images.githubusercontent.com/12002941/38922356-931db614-432a-11e8-8bde-4b3

[2018-04-18 14:56] aashikhameed opened #93 "Sharing not working, from google photos Android"
When i tried to share an image in ANDROID from the google photos app, (image not in the local storage) ,ShareExtension.data();  returns null value. Can anyone please let me know how to fix this.

[2018-04-19 06:52] #93 closed

[2018-04-19 15:33] NikitaPokryshko commented on #85
@BigPun86 Hi! Had you solve these problems? The same behavior and I don't know how to move on.

[2018-04-19 15:55] BigPun86 commented on #85
@Saad-Bashar and @NikitaPokryshko in my case i haven't correctly added all my linked libraries in xcode for both targets. You can find my setup [here](https://github.com/alinz/react-native-share-extension/issues/79#issuecomment-381621597) maybe this will help u?

[2018-04-20 10:02] NikitaPokryshko commented on #85
@BigPun86  Thank you. I checked this out but my share extension still behave the same way. Can you explain, please, what did you add except that it was stated in the installation instructions?

[2018-04-22 19:27] BigPun86 commented on #93
How did you fix it @aashikhameed?

[2018-04-23 05:55] aashikhameed commented on #93
@BigPun86  , I have modified the **Share module** inside alinz.parkerdan.shareextension as follows,

public class ShareModule extends ReactContextBaseJavaModule {

    ReactApplicationContext reactApplicationContext;

    public ShareModule(ReactApplicationContext reactContext) {
        super(reactContext);
        reactApplicationContext = reactContext;
    }

    @Override
    public String get

[2018-04-24 08:46] NikitaPokryshko commented on #85
@BigPun86 It works, the problem was at google signin packages. Thank you for link!

[2018-04-25 00:37] AndrewHenderson opened #94 "iOS Share Extension RN App doesn't mount"
iOS 11.3
RN 0.54.2

I'm finding that [instantiating the `rootView`](https://github.com/alinz/react-native-share-extension/blob/master/examples/Sample1/ios/MyShareEx/MyShareEx.m#L19-L32) doesn't actually lead to the `React.Component` lifecycle methods in [here](https://github.com/alinz/react-native-share-extension/blob/master/examples/Sample1/share.ios.js#L17-L36) being executed.

The rootView does

[2018-04-25 07:38] aashikhameed opened #95 "Android release build, type returns null value."
In the development mode while sharing an image or text using share extension returns the type, but when I take a release build the type returns null value. (using samsung on7 device)
Can anyone please tell me how to overcome this..

[2018-04-30 09:13] isaachinman commented on #94
@AndrewHenderson Did you find a solution to this? Encountered the same thing.

[2018-04-30 13:29] isaachinman commented on #89
I just ran into this issue myself when testing on a real iOS device. Functionality works perfectly on iOS simulator and Android, but not on a real iOS device (iPhone 6, iOS 11.3).

My received share path looks virtually identical to OP's (eg /private/var/mobile/Containers/...).

@BigPun86 Did you find a way to solve this?

[2018-04-30 13:56] isaachinman commented on #80
@pierretanguay Did you run into the issue of permissions on iOS in relation to app containers? It seems some people are creating app groups to get around this, but the fork we are both using does not have this by default.

[2018-04-30 14:54] BigPun86 commented on #89
@isaachinman i forked this project and and dis some stuff in the iOS part, which finally works not. You can have a look here: https://github.com/BigPun86/react-native-share-extension/tree/master/ios

You will need to enable App Groups for both targets (MainApp and Share Extension)

[2018-04-30 15:13] isaachinman commented on #89
@BigPun86 Thanks! Lot of work getting this project to actually work cross-platform...

What was your methodology? Are you copying files to a temporary shared dir between the two apps (via App Group), or did you find a way to share the path by itself without copying?

[2018-04-30 15:32] BigPun86 commented on #89
@isaachinman well i am actually creating a directory related to the app group and then i combine the app group path/url together with my file path/url. I am not good in explaining, but you can have a look at the ShareMaster.h/m => Readme.md and this part https://github.com/BigPun86/react-native-share-extension/blob/master/ios/ReactNativeShareExtension.h#L7

I hope this helps you, it took me 2 week

[2018-05-01 08:58] isaachinman commented on #89
@BigPun86 With app groups in place, it's actually way easier to achieve this than the way you're doing it.

You only need app groups and `react-native-fs` to accomplish it:

    const data = await ShareExtension.data()

    if (Platform.OS === 'ios') {
        const appGroupPath = await RNFS.pathForGroup('group.com.myapp')

            await Promise.all(data.map(async (image) => {

[2018-05-01 12:30] isaachinman commented on #89
Cool! The main takeaway here is that what we both want to do is fully possible with `react-native-share-extension`, no fork needed. (Although I'm actually using a different fork to allow multi-item sharing.)

By the way, I got this idea from #73, which should definitely be merged into master.

[2018-05-02 12:42] BigPun86 opened #96 "Share Image from WhatsApp does not work"
Hey there.

Module works great when i share an image from Gallery, but sharing image from WhatsApp does not work. Is there anything i need to consider to make this working?

[2018-05-07 19:19] AndrewHenderson commented on #94
@isaachinman I created a clean project and got the extension working. Then copied all of my files over to the new Xcode project. It continued to work in Debug configuration. However, I have not gotten it to work on Release configuration.

[2018-05-07 19:56] AndrewHenderson commented on #58
@sw-yx Try getting the library running on a clean Xcode project. Then, once you have it working, you can copy your files into the new project. That worked for me.

[2018-05-07 23:25] AndrewHenderson commented on #83
@i25878427 I'm experiencing this issue as well. However, separating the two entry points is the only way I can get my extension to work in Debug mode. If I register both the app and the extension on the same index file, the extension ceases to work.

That said, I still can't get it working in Release mode no matter what I do.

[2018-05-08 01:06] AndrewHenderson opened #97 "Release Mode: Extension crashes when sharing from Photos on iOS"
I have been able to get everything working perfectly in Debug mode. However, when I change to Release mode, the extension crashes immediately upon launching from the Photos app on iPhone.

I have two separate index files - one for my main app and one for my share extension. I tried using the same index file for registering both apps, but the extension would not launch, even in Debug mode. Separati

[2018-05-08 07:29] isaachinman commented on #94
Have you seen the [Test on Device without dev-server](https://github.com/alinz/react-native-share-extension#test-on-device-without-dev-server) section of the docs? Might help you.

[2018-05-08 17:26] isaachinman commented on #94
Yes. As far as I know, several devs have release apps in both stores with this share extension included.

[2018-05-08 17:55] AndrewHenderson commented on #94
@isaachinman I'm currently running a reduced test case. I was able to get the extension working in **Release mode** on a boilerplate project that uses only this library.

There were three important steps to getting it working:

1) I added the [test on device without dev server script](https://github.com/alinz/react-native-share-extension#test-on-device-without-dev-server).
2) Make sure your app an

[2018-05-08 18:12] isaachinman commented on #94
Not sure about the `require` vs `import` thing (probably a red herring), but I believe those other steps are already in the docs.

[2018-05-08 21:31] AndrewHenderson commented on #94
@isaachinman You were right. It wasn't necessary.

I was able to get everything working in both Debug and Release mode.

Thanks.

[2018-05-08 21:31] #94 closed

[2018-05-08 21:37] AndrewHenderson commented on #97
I found that in order to get the app running in Release Mode, I had to register both my App and the Share Extension App in the same index.js file:

[code]

[2018-05-08 21:37] #97 closed

[2018-05-08 23:06] AndrewHenderson opened #99 "Alerts Not Working in Share Extension"
Hopefully, I'm messing up something very simple, but I can't seem to get React Native Alert working in the share extension.

Alerts work fine in my main app, but calling `Alert.alert` has no effect in the extension. Perhaps the API is not accessible on iOS within extensions.

I can't seem to find anyone else discussing/reporting this issue.

[2018-05-09 07:05] isaachinman commented on #94
@AndrewHenderson That is correct, it's an annoying part of working with such a "bare bones" RN application. Some people have included JS-based devtools, etc.

Glad to hear you got it working!

[2018-05-09 09:43] isaachinman commented on #96
Hi @BigPun86, I believe one or more of the currently-open PRs addresses this. Take a look through them, let me know if you can't find it.

[2018-05-09 10:33] EnochL opened #100 "Share extension app can not run twice in one app(ios)."
In IOS, the share extension cannot run twice, because it does not exit in the close method.
[code]
What should i do if i wanna run it twice in one app? Would it be possible to append "exit(0);" to the method?

[2018-05-09 18:40] AndrewHenderson commented on #100
@EnochL Please elaborate on what you mean by "run twice in one app." Perhaps you can explain in further detail your use case.

[2018-05-09 19:08] AndrewHenderson opened #101 "ReactNativeShareExtension requires main queue setup since it overrides `init` but doesn't implement `requiresMainQueueSetup`"
I'm currently receiving this error at app start:

![screen shot 2018-05-09 at 11 50 12 am](https://user-images.githubusercontent.com/1031565/39833669-992857de-537f-11e8-8540-d44c76377aa1.png)

Apparently, it was an issue in React Native's RCTImageLoader. Perhaps we can gain some insight from how they solved it: https://github.com/facebook/react-native/issues/17504

[2018-05-09 22:48] AndrewHenderson commented on #101
This issue was caused by adding the following code to dismiss another warning I was receiving:
[code]
I don't think there is any issue with this library. I think I just messed something up.

[2018-05-09 22:48] #101 closed

[2018-05-10 01:09] daviswhitehead commented on #100
I'm seeing the same thing. @EnochL correct me if I'm wrong, what I think you mean by run twice is
- enter safari
- tap on share extension
- share extension works as expected
- tap on share extension again
- failure

Here are what my device logs look like for two of associated crashes 1) on exit and 2) on launch
![image](https://user-images.githubusercontent.com/8632165/39846998-25d335e4-53cd-11e8-

[2018-05-10 03:02] EnochL commented on #100
@AndrewHenderson i mean "run again".

[2018-05-10 03:05] EnochL commented on #100
here is a way to fix it.
[code]
change to
[code]

[2018-05-10 03:12] EnochL commented on #100
creating a native module to execute “exit(0);” is another way to fix it without changing the code of "react-native-share-extension"

[2018-05-10 18:24] alinz opened #102 "Seeking couple of people to help me push this library forward"
Hello,
I'm seeking for couple of contributors to help me resolve couple of issues and push this library forward.

Please comment on this issue and I will will in contact with you shortly.

Thanks

[2018-05-10 20:39] AndrewHenderson commented on #102
@alinz I'm interested.

[2018-05-10 20:51] AndrewHenderson commented on #100
@EnochL Nice fix!

I only began experiencing this bug after upgrading my iPhone to iOS 11.3.1.

Submit a PR! 😄

[2018-05-11 17:53] alinz commented on #102
@AndrewHenderson I have made you Collaborator. Also send me your npm username if you have one.

[2018-05-11 17:55] alinz commented on #102
@AndrewHenderson we should also create a roadmap for this module. If you can do that then I can priorities my time to work on it.

[2018-05-15 19:10] AndrewHenderson commented on #100
@EnochL I'm finding that this sometimes crashes my Photos app. I receive a black screen on the simulators and then can't reopen the Photos app. @alinz mentioned that this is a ["hard exit and could cause a memory leak."](https://github.com/alinz/react-native-share-extension/pull/103#issuecomment-388512506).

[2018-05-16 08:13] i25878427 commented on #83
@AndrewHenderson- did you try the solution I suggested above? did it work for you in release mode?

[2018-05-18 08:56] fishkingsin commented on #102
@alinz I'm in

[2018-05-18 14:14] alinz commented on #102
@fishkingsin this is amazing, would you send me your NPM username as well.

[2018-05-18 18:29] AndrewHenderson commented on #100
@alinz Everything I've found tells me that the share extension is being closed properly without @EnochL's suggested change.

My current hypothesis is that the React app is not being properly unmounted. So when a user attempts to reopen the Share Extension, the React app crashes, not the extension itself.

Currently exploring this idea.

[2018-05-18 19:11] AndrewHenderson commented on #100
I just noticed that everything is working properly for me in Release Mode. It's only in Debug Mode that the app crashes on reopen in iOS 11.3.1.

It seems like the index.js is called from the Metro Bundler a second time and then the React Share App crashes. I see that as a very minor issue, if everything works properly in Release Mode.

[2018-05-18 19:36] AndrewHenderson commented on #99
I'm also finding that `NetInfo.getConnectionInfo` returns unknown for the connection `type` and `false` for `isConnected`.

[2018-05-21 05:46] fishkingsin commented on #102
@alinz "fishkingsin"

[2018-05-29 10:34] BigPun86 commented on #60
This still happens to me. Does anyone have an idea how to fix this?

[2018-05-29 17:51] #102 closed

[2018-05-31 06:17] aashikhameed commented on #95
Making a recursive method on the await in react native solved the error.

[2018-05-31 06:17] #95 closed

[2018-06-07 11:23] Adenon opened #104 "touch event doesn't return back to the application that triggered the share on IOS"
I used this code in the Share file , it work perfectly on Android, but on IOS (iphone 6, ios 11, on simulator ) , the touch event is not returning to the application that fires the share.

export default function Share() {
    async function shareUrl () {
        try {
        var { type, value } = await ShareExtension.data();
        ShareExtension.close();
        } catch (e) {
            conso

[2018-06-12 08:29] pkantsedalov commented on #38
@npomfret @abarisic86 @alinz Hi. I've also stuck with it.
At first I tried to optimize views all over the share extension app. I've succeeded switching from ScrollViews to FlatLists.
But I still have the same problem when I switch between several long flat lists.
So still finding any solution.

[2018-06-13 08:34] Derpidy opened #105 "java.lang.ClassNotFoundException: Didn't find class "com.xxx.share.ShareActivity""
Hello,

just trying to implement share extension. Works great on IOS, but I have this error on Android, even if my class ShareActivity is in my java project.

any tips ? Thanks.

[2018-06-13 09:39] Derpidy commented on #105
Resovled

[2018-06-13 09:39] #105 closed

[2018-06-14 22:18] Derpidy commented on #18
@ncnlinh I did exactly the same thing, and it work great on Simulator, but doesn't load at all on real device. It there any fix out there or is this dead ?

[2018-06-20 16:39] emilefleming commented on #79
@daviswhitehead I'm experiencing the same linker error you were at first:

[code]

Do you recall if there were any steps you took to resolve it that weren't mentioned in this thread?

The extension portion of my podfile looks like this:

[code]

Linker flags are set correctly.

In my header search paths for the extension I have

[code]

Under Build Phases > Link Binary with Libraries I have `libRN

[2018-06-21 11:03] rf1804 commented on #37
Is it working with wix/reac-native-navigation???

[2018-06-23 06:34] rf1804 opened #107 "Share image/link to my existing application not on another screen which you demonstrated like share"
I want to share images/link from outside and i just want whenever i share things from outside my app gets opened up and the value gets stored in my app or show in console, i do not want some other window for share particularly.
I tried playing around i think i've reached somewhere in middle of it but not completely what i want.
Please help me out as when i share app open and closes no crash no con

[2018-06-28 20:20] AndrewHenderson commented on #79
For anyone struggling with this issue. After following the standard installation instructions, make sure you do the following:

1) Link `libRNFirebase.a` in your Extension's Build Phases.
Also, make sure that `libPods-{YOUR_EXTENSION_NAME}.a` is linked as well.
2) Set the GoogleService-Info.plist target for both your main app and your share extension in the right panel.
3) In your share extension'

[2018-07-01 22:09] ahmedjamshed commented on #89
@isaachinman  await RNFS.copyFile(image.value, destination) my code is stuck at this line in share extension. What could be the problem? Can you guide me?

[2018-07-02 07:35] isaachinman commented on #89
@ahmedjamshed First, you should always format code when you write in a GitHub issue. Second, how could I possibly help without any error or any information whatsoever? If you post more information here in the proper way, I am happy to help you.

[2018-07-02 08:43] ahmedjamshed commented on #89
@isaachinman Sorry for bad formatting. I have updated my previous comment,

[2018-07-02 08:49] isaachinman commented on #89
The whole point of an app group in this case is that it creates a shared directory between your share extension and main app, where both processes can access (read/write).

Sounds like you need to add your main app to the app group, at the very least.

That being said, if `copyFile` is hanging - ie not throwing and not resolving - it actually sounds like a RNFS bug...

Can you print out `image.val

[2018-07-02 08:54] ahmedjamshed commented on #89
Yes, I am able to show the `value` and `destination ` on extenion UI by calling setState

[2018-07-02 08:58] isaachinman commented on #89
I meant, can you write it here?

[2018-07-02 20:12] ahmedjamshed commented on #89
@isaachinman Thanks for helping. My app groups weren't properly configured due to some Bundle Identifier issue. Changing bundle identifier and cleaning the code solved my problem.

[2018-07-05 09:11] damir-sirola commented on #100
Be careful about using `exit(0);` in your code. It was causing the extension to close before the JavaScript code was run but only when the app was archived.

[2018-07-17 15:42] martinlavanant opened #108 "App does not appear in list of "sharable" apps"
Hey everyone,

Sorry in advance if there is a similar issue but couldn't find any.
So I followed step by step and multiple times the iOS installation instructions but I can't seem to make the share extension visible when I try to share an image to my existing app.

I'm wondering if it could be a target problem or some activation rule but I honestly really don't know at this point.

Hope you guys c

[2018-07-19 11:41] BigPun86 commented on #108
@martinlavanant did you activate it in your share sheet?

![1](https://user-images.githubusercontent.com/7880624/42940352-73128116-8b59-11e8-8c24-6f4adb9a97be.png)
![2](https://user-images.githubusercontent.com/7880624/42940353-732d665c-8b59-11e8-896a-db84d37cafa9.png)
![3](https://user-images.githubusercontent.com/7880624/42940354-735e22f6-8b59-11e8-9179-3b206177a0dd.png)

[2018-07-19 11:47] martinlavanant commented on #108
Thanks for responding man,

Actually it doesn't even appear in the activities list.
Tried the installation multiple times and I really can't figure out why...

[2018-07-19 11:57] martinlavanant commented on #108
I'm going to update the extension rules and I will update this post! Thanks!

[2018-07-19 13:12] cdn34 commented on #76
Doing `AppRegistry.registerComponent('MyExt', () => ShareComponent)` on a separate file seems to work for me. It's also needed to set the `jsBundleURLForBundleRoot` to the new file where the extension is now being registered instead of `index`. In my case the issue was with the Google SignIn module and doing this seems to fix it.

[2018-07-19 13:41] martinlavanant commented on #108
Thanks a lot, you were right, it was the NSExtension rules that prevented my app to be listed on the activities!

But now I've got a small problem, I believe my share.js component is never called, I've added a few console.logs in the constructor and lifecycle method, but they're never executed.
I took a look at some issues which I believed were the same problem, but none of the solutions worked.
W

[2018-07-23 12:08] martinlavanant commented on #85
Hey guys,
I'm actually struggling with the same problem, I linked the same libraries for both targets but still nothing.
For my project I just have an index.js and no separates indexes for iOS and Android. I updated the content of the jsCodeLocation in my extension implementation to "index" instead of "index.ios" I don't know if this could be the problem.

Thanks in advance

[2018-07-23 12:09] martinlavanant commented on #108
Closing this issue since my problem is off topic now, Thanks for the help tho!

[2018-07-23 12:09] #108 closed

[2018-07-23 14:30] martinlavanant opened #109 "No Logs running on simulator"
Hey everyone,

I've been struggling installing this library, I managed to get the share.js working on iOS simulator, the only thing missing is the console.logs. I actually can't get those logs in my RN Debugger.
Does anyone had the same problem? Can't find any related issues.

I'm sorry to ask for your help guys, wish I could find the solution by myself, I'm still a RN novice and have absolutely n

[2018-07-30 11:15] cloudle commented on #60
Don't know if this help but..
I got similar problem after set `MainActivity` to `android:launchMode="singleTask"` (AndroidManifest.xml).
ShareExtension.data() was correct if the App didn't loaded - however, it just return `{type: '', value: ''}` after that (App already loaded).

And finally - I found that run ShareExtension.data() under React's `componentWillMount` cause that, so we should use `co

[2018-08-01 19:14] Rutulpatel7077 commented on #29
I am having same issue..

[2018-08-05 16:24] cigoe opened #110 "Best way to override extractDataFromContext on iOS?"
I'm trying to implement some custom logic but am unable to get the sub-classed method called instead of the one in the parent ReactNativeShareExtension class (confirmed via debugger breakpoints). I have a hunch this may be because `RCT_REMAP_METHOD` is being used to call the method in question. An example of a setup which compiles file but is not working is below.

[code]

Any input would be great

[2018-08-08 00:52] pmella16 opened #111 "works in simulator but not real device ios"
hi, my app freeze en real device but not in simulator boths in ios iphone 5 -10.2

my code https://github.com/pmella16/share-extension

![captura de pantalla 2018-08-07 a la s 20 49 57](https://user-images.githubusercontent.com/19208317/43810002-873e5398-9a83-11e8-9b3d-03600c477f42.png)
![captura de pantalla 2018-08-07 a la s 20 49 41](https://user-images.githubusercontent.com/19208317/43810003-87

[2018-08-23 15:28] cigoe commented on #110
Figured this out by just keeping it simple not overwriting the method. Instead I just included the files in the main xcode application and not linking the react-native-share-extension library on iOS.

[2018-08-23 15:28] #110 closed

[2018-08-24 10:30] mtzfactory commented on #111
I have the same problem...

[2018-08-27 18:42] CGReinhold commented on #99
Hey, @AndrewHenderson, do you have any updates on this?

I'm having the same issue using a simple `Alert.alert('Test', 'Test');` when the app is run from the share-extensions.

I also noticed that ActionSheetIOS has the same issue. This example simple won't work on the extensions but work properly on the main app:
[code]

[2018-08-28 00:25] AndrewHenderson commented on #99
@CGReinhold I chose to avoid certain unavailable APIs in favor of React UI.

I went to submit a bug on React Native's repo: https://github.com/facebook/react-native/issues/new?template=bug_report.md. They require an [MCVE](https://stackoverflow.com/help/mcve), so I'd have to write that.

I submitted a question on SO: https://stackoverflow.com/questions/52048505/react-native-apis-unavailable-in-sha

[2018-08-30 12:37] arribbar commented on #111
It was working fine for me until few days ago. I don't know why as I didn't change anything.

I got these logs now:
[code]

[2018-09-07 20:07] mtzfactory commented on #100
Hi, I'm experiencing the same behaviour... at this moment only in the simulator.
Any solution?

[2018-09-10 19:13] mtzfactory commented on #86
Hi @BigPun86,

Have you tried yet?

[2018-09-11 09:36] BigPun86 commented on #86
@mtzfactory yes, but unfortunately i couldn't get it working! Actually i have fixed it in a separate fork => https://github.com/BigPun86/react-native-share-extension

There will be a much cleaner implementation. I will push it the next days, hopefully until the weekend.

[2018-09-17 11:33] arribbar commented on #109
You need to change your scheme and select your shared one in order to get logs on it

[2018-09-20 12:47] arribbar commented on #111
Ok, I found the issue in my case.
It was related to another rn lib I have added. I needed to add it manually to my share app.
You might have more logs using your real device and your share app as scheme.

[2018-09-24 07:22] SunSet1219 opened #112 "This is not working in RN 0.51.1"
I followed your instructions several times.
But It doesn't work perfect.
I created new share extension called "Lolos"...
I hope you to help me what i have issues.
Thanks

[2018-09-24 20:07] SunSet1219 opened #113 "Android Build Failed"
![image](https://user-images.githubusercontent.com/26632694/45976107-72d57380-c078-11e8-8ff9-35bd55e998e7.png)

[2018-09-24 20:13] #113 closed

[2018-09-24 20:13] SunSet1219 commented on #113
I solved this issue

[2018-10-02 13:01] vstlouis commented on #77
Does anybody know how to fix this?

[2018-10-03 15:08] vstlouis commented on #77
Copy and paste the files into your ShareExtension folder.. next to the MyShareEx.m file you created.. it works there.

[2018-10-07 09:32] nakamotoo commented on #76
same issue here......

[2018-10-09 14:40] nakamotoo commented on #76
@cdn34 Separating files worked for me !!! Thanks !!!

[2018-10-09 16:08] cdn34 commented on #76
@nakamotoo I ended up changing the solution I posted here due to issues building the app for production, you may face similar issues. In case you do, what I did to fix those was to update my `index.js` file to be the following :

[code]
The contents of my original `index.js` file are now located in `indexWrapper.js`. This makes sure the extension only uses the modules it's actually requiring inste

[2018-10-09 20:58] i25878427 opened #114 "Does share extension work with react native navigation v1 (wix)?"

[2018-10-10 23:04] aleppos commented on #111
@arribbar how did you find the solution?

[2018-10-12 11:50] nakamotoo commented on #76
@cdn34 Thaks. I tried to build the app for production , and as you told me, Safari froze.
Here are my `index.js` and `ShareExtension.js.` which I separated.
`index.js`
[code]
`ShareExtension.js`
[code]
I've tried your solution and fix my `index.js` like below but it didn't work...
[code]
Could you please tell me how I should fix it ?

[2018-10-12 13:50] cdn34 commented on #76
@nakamotoo In your project: `Targets -> MyExt -> Build Phases -> Run Script` - Add :

[code]

[2018-10-12 14:19] nakamotoo commented on #76
@cdn34 Thanks for the reply, but actually I already have added the script.
The problem is that by separating the `index.js` and `ShareExtension.js`, the extension only works in dev environment.
After I fixed my index.js like above, the extension does not work even in dev environment.

[2018-10-12 15:13] cdn34 commented on #76
@nakamotoo It's kind of hard to know what your current problem may be without any other information. I’ve also changed a lot things since then, so I don’t recall exactly if there were any other steps to fix the issue.

Other things I did at the time, not exactly sure if are related to your issue or not:

- `Targets -> MyExt -> Project Bundle Identifier` : { Set the correct one for each entry - `Ex

[2018-10-15 09:49] arribbar commented on #111
Eeeuh, searching ? 🤔 😁
Be sure you have in KumbuShare target, Build Phases, a Run Script section with
[code]

Well, you need more logs to know from which lib it comes from. For that purpose,
1 - select your share extension as scheme
2 - run it manually on real device
3 - you'll have all the logs to understand from which lib it comes from

Then, to add a lib, you have two options:
- Add it in your

[2018-10-16 16:27] ishigamii opened #115 "Can't make it work on 0.55.4 of react-native for iOS"
Hi, I just found this library and though it looks very promising I am having some trouble with implementing it in my app.
I didn't try to add the android part yet but I am having trouble with the iOS part to begin. I followed all the steps of the iOS section (https://github.com/alinz/react-native-share-extension#ios). The extension build but it doesn't run if I try to run it on simulator.

Now my

[2018-10-17 05:41] i25878427 commented on #114
I upgraded to react native navigation v2 (wix) and it did the trick for me :)

[2018-10-17 05:41] #114 closed

[2018-10-17 05:44] i25878427 opened #116 "How to install crashlytics on the share extension?"
Hey,
I tried to add Crashlytics to the share extension but I couldn't find Crashlytics lib in the "Link Binary With Libraries" in the share extension target.

Any idea?

Thanks,

[2018-10-17 16:46] keredson opened #117 "modifications to build.gradle`"
The setup instructions say you need to modify `android/app/build.gradle` to add `compile project(':react-native-share-extension')`, like this:
[code]

But my `build.gradle` looks very different.  Here's the `dependencies` section.  Note `implementation` instead of `compile` for everything, and the lack of `react-native`.  This is from a recent `eject` (yesterday) How should I modify this if at all

[2018-10-17 17:15] keredson opened #118 "where should ShareActivity.java and ShareApplication.java go?"
From the documentation:

So should that be:
- `myproject/android/share`
- `myproject/android/app/share`
- `myproject/android/app/src/main/java/share`
- some other path?

[2018-10-18 09:39] i25878427 commented on #57
@qinqing3761 @adamvert - I am having the same issue, did you find a solution?

[2018-10-18 13:38] i25878427 commented on #100
I am experience this issue on a real device, any idea how to solve this?

[2018-10-18 15:07] adamvert commented on #57
The solution for me was to make the share extension crash intentionally, as suggested here: https://github.com/alinz/react-native-share-extension/issues/64#issuecomment-345726357

[2018-10-18 19:28] AndrewHenderson commented on #100
I still believe it is due to the JS module needing to be unmounted on the JS thread. I believe the cause of the crash is due to the Native Module attempting to remount it second time. After it crashes, the user is able to launch on the third attempt.

I'm researching how this can be done. I'm not an Objective-C developer, so anyone will more experience, please chime in.

[2018-10-18 21:42] i25878427 commented on #100
@AndrewHenderson This my temporary workaround for the problem:

I am using react-native-exit-app which provides me a bridging to "exit(0)" and I used in

componentWillUnmount(){
RNExitApp.exitApp();
}

and not as addition to the Close method which was causing my js to end before time

[2018-10-18 23:57] AndrewHenderson commented on #100
@i25878427 You're saying the following did not work for you?
[code]

[2018-10-22 09:02] cdn34 opened #119 "Background execution"
Is there a way to make sure the code execution in the extension finishes when the extension is closed on iOS?

I managed to get this working on Android using a Foreground service, but on iOS the behaviour seems a bit random, sometimes it continues the execution and other times it doesn't (most of the times it fails when using a slower connection, 3G or worse).

Also for the extension, background m

[2018-10-22 09:06] cdn34 opened #120 "Background execution"
Is there a way to make sure the code execution in the extension finishes when the extension is closed on iOS?

I managed to get this working on Android using a Foreground service, but on iOS the behaviour seems a bit random, sometimes it continues the execution and other times it doesn't (most of the times it fails when using a slower connection, 3G or worse).

Also for the extension, background m

[2018-10-22 10:26] cdn34 opened #121 "Running in the background"
Is there a way to make sure the code execution in the extension finishes when the extension is closed on iOS?

I managed to get this working on Android using a Foreground service, but on iOS the behaviour seems a bit random, sometimes it continues the execution and other times it doesn't (most of the times it fails when using a slower connection, 3G or worse).

Also for the extension, background m

[2018-10-23 00:59] AndrewHenderson commented on #121
@cdn34 I'm trying to set this up myself. I have followed [this popular tutorial](https://hackernoon.com/easy-os-background-tasks-in-react-native-bc4476c48b8a) (except I used RN Background Fetch rather than RN Background Task. Everything works in the app as expected (Background Fetch events fire), but my Share Extension no longer initializes properly.

[2018-10-23 07:45] #119 closed

[2018-10-23 07:45] #120 closed

[2018-10-24 00:37] AndrewHenderson commented on #100
@i25878427 This works for me:
[code]
When I run my share extension directly from Xcode, the debug logs show that the rootTag for my React Native share extension is `1`. **This is what we want.**

When I close the extension and reopen it, the root tag is `11`. **This is NOT what we want.** It tells me that **the JS Thread was not killed and the first version of the app is still in memory** — that R

[2018-10-28 18:50] ekeuus commented on #114
@i25878427 Hey Ron! Were you able to share the files with the main application? I'm trying to get it to work with v2 as well. Thanks!

[2018-10-28 18:51] ekeuus commented on #107
Were you able to solve this?

[2018-10-28 18:52] ekeuus commented on #86
@BigPun86 Were you able to solve this with the "clean" implementation?

[2018-10-28 19:36] i25878427 commented on #114
@ekeuus yes, what is the problem?

[2018-10-30 17:57] isaachinman commented on #86
@frenberg Feel free to check out #67, and other places where we've discussed this. Many of us have released apps via Apple containing this approach. Moreover, large apps like Pinterest take this approach, as @birkir points out.

You are correct in that it may be against Apple policy on paper, but in practice we've had no issues in reviews. The risk associated with a failed review is something to d

[2018-10-30 19:00] i25878427 commented on #79
@AndrewHenderson Do you know if it is possible to authenticate with firebase from the main app and some how pass the authentication to the share extension? (I don't want to ask the user to do login again)

[2018-10-30 19:07] frenberg commented on #86
@isaachinman thank you for that info, that was new to me. Very interesting!

Tried to have a look at how Pintrest do this but their share extension just flickers and crashes on my iphone xs :)

[2018-10-30 20:24] ekeuus commented on #114
I want to share directly to the app, not into the app registry component, but I can't think of a good solution to do so

[2018-10-30 20:49] i25878427 commented on #114
Not sure how it can be done. Maybe URL TYPES?

[2018-10-30 21:10] AndrewHenderson commented on #79
@i25878427 Use [react-native-shared-group-preferences](https://www.npmjs.com/package/react-native-shared-group-preferences). For iOS you'll need to create an "App Group" and give both your app and the extension permission. This has to be done in Xcode. The install steps should cover everything.

[2018-10-30 21:33] i25878427 commented on #79
@AndrewHenderson Thanks for the help :-). I already have "App Group" installed and I was able to share data between the main app and the share extension.

Maybe my question is more firebase related. I don't know what should I share with the share extension from the main app to make the share extension authenticate with firebase, so I can read/write to firebase database.

[2018-10-30 21:41] AndrewHenderson commented on #79
@i25878427 I've found that the Share extension has its own scope and any modules have separate instances — so your Firebase instance would probably have to be initialized for both.

The only data I've been able to share is storing strings in the App Group.

You're better off asking these questions in https://github.com/invertase/react-native-firebase. They also have their own channel on Discord. G

[2018-10-30 21:45] i25878427 commented on #79
@AndrewHenderson Thanks! I will try using their channel :-)

[2018-10-30 23:09] daviswhitehead commented on #79
not totally sure how this works technically, but I was able to authenticate with firestore through the share extension in the same way I do within my main app. Not sure if it's any different for firebase but would guess not.

`this.authSubscription = firebase.auth().onAuthStateChanged((user) => {
      this.setState((previousState) => {
        return {
          ...previousState,
          loadin

[2018-11-01 08:32] lvonk commented on #71
We are experiencing the same. RN 0.57.1.

[2018-11-01 09:12] julienR2 commented on #71
Same error on my side.. Any clue how to resolve that ?

[2018-11-03 10:05] jebinwinfy opened #122 "iOS Video cant share"
Cant share video file through this!
If I set 'NSExtensionActivationRule' with 'NSExtensionActivationSupportsMovieWithMaxCount', can't get video url, anybody know this issue???

[2018-11-03 13:53] kdepp commented on #79
Adding `${inherited}` fixed my problem.  Thanks for your info, @AndrewHenderson

[2018-11-07 08:05] LucM commented on #111
If it can help someone. I fixed this problem changing the deployment target of the extension app from 12.1 to 9.0.

![image](https://user-images.githubusercontent.com/2054003/48118226-ba0c7200-e27c-11e8-8205-96c591062326.png)

[2018-11-08 16:11] radreamer commented on #118
The `share` folder should be placed under `java/com/<your-project-name>` according to the example project:

<img width="997" alt="image" src="https://user-images.githubusercontent.com/16123063/48211085-69327180-e381-11e8-8146-ada585f4330e.png">

[2018-11-08 23:50] AndrewHenderson commented on #121
@cdn34 This is probably due to the timeout restriction on iOS. I read in [this tutorial](https://hackernoon.com/easy-os-background-tasks-in-react-native-bc4476c48b8a) that iOS has a 30 timeout on background requests. On a slow connection, the request is likely canceled. Depending on how far along it is, you might find the server received the request successfully, even if the client thinks it faile

[2018-11-08 23:52] AndrewHenderson commented on #117
@keredson Thanks. I also use `implementation` in my project. I had to make that adjustment upon adding Firebase to my project. I think it depends on the tech stack. As far as I can tell, most projects can do fine using `compile`.

Since this is more a statement than an isssue, I'm going to close it.

[2018-11-08 23:52] #117 closed

[2018-11-08 23:58] AndrewHenderson commented on #122
@jebinwinfy The sharing capabilities are currently limited to string/url/image. See: https://github.com/alinz/react-native-share-extension/blob/master/ios/ReactNativeShareExtension.m#L5-L7

This would be a nice feature addition, if you want to submit a PR 😄

[2018-11-08 23:58] #122 closed

[2018-11-09 17:22] isaachinman opened #123 "Roadmap - new maintainers"
Hello @alinz and @AndrewHenderson!

@alinz Was kind enough to respond to my email immediately and let us know his wishes for the repo going forward:

1. Every single PR must be reviewed
2. Semantic versioning must be followed
3. A roadmap must be created

So, this issue itself aims to fulfil the third requirement. I am maintaining some other OS projects in addition to normal work and am very busy

[2018-11-09 19:32] AndrewHenderson commented on #123
Thanks @isaachinman 👍

I started to go through old issues and PRs yesterday. There are some long awaited features that actually have PRs. I'll continue to review issues and PRs and outline a roadmap. I'm a JavaScript engineer and my Objective-C and Android/Java knowledge is limited, so I'll do my best to review and offer feedback. We'll need collaborators strong in both languages and platforms to

[2018-11-12 13:03] radreamer commented on #89
I'm facing with an error while copying a file to an app group destination from iOS Files app (`/private/var/mobile/Library/Mobile%2520Documents/com~apple~CloudDocs/Documents/<fileName>`):

`Error: the file <fileName> couldn't be opened because there is no such file.`

but everything works perfectly when I copying photos/videos from my gallery, which have the further path:
`/private/var/mobile/Cont

[2018-11-12 20:15] isaachinman commented on #89
Hi @radreamer, if you're having problems accessing a file when you know it definitely exists at that location, it's almost certainly related to permissions.

I have set up a share extension in the past that copies files to an app group dir and then passes the location onto the main app via query params - it's definitely possible.

Perhaps this also has something to do with the `CloudDocs` componen

[2018-11-12 20:31] oberlaender commented on #89
Could also be that the filetype is not handled by the native code on iOS, it seem only **images**, **urls** and **'text/plain'** are supported.

`#define URL_IDENTIFIER @"public.url"`
`#define IMAGE_IDENTIFIER @"public.image"`
`#define TEXT_IDENTIFIER (NSString *)kUTTypePlainText`

see `ReactNativeShareExtension.m` [►](https://github.com/alinz/react-native-share-extension/blob/7984a81320ce45768148

[2018-11-13 08:00] radreamer commented on #89
@isaachinman @oberlaender thanks for responses, I tried to share an image from iCloud (through Files app) and the further code
[code]
prints (!wrong type):
[code]
and then copying failed with:
[code]
so I think, that the problem isn't with file types

[2018-11-13 08:20] radreamer commented on #89
@oberlaender and I don't get the difference between URL and text? both have almost similar handlers for providers in `extractDataFromContext` method ([urlProvider](https://github.com/alinz/react-native-share-extension/blob/7984a81320ce45768148f48580a79cab6928efc2/ios/ReactNativeShareExtension.m#L93) and [textProvider](
https://github.com/alinz/react-native-share-extension/blob/7984a81320ce45768148

[2018-11-13 15:00] oberlaender commented on #89
Both providers return a string and the type `text/plain`. The _url_ part just makes sure the full url is returned.

[2018-11-13 16:19] isaachinman commented on #89
@radreamer I don't fully understand your problem, but it seems like you're getting valid file paths without issue. Your issue is related to read permissions. Where are you getting the `no such file` error? In the share extension, or in your main app?

Can you provide a reproducible example so that we might be able to help you?

[2018-11-14 16:51] isaachinman commented on #89
@radreamer I don't think your problem has anything to do with `react-native-share-extension`, if you're getting valid file paths. I'm not an iOS dev by trade, but have you done some Googling and read [some docs](https://developer.apple.com/library/archive/documentation/DataManagement/Conceptual/CloudKitQuickStart/EnablingiCloudandConfiguringCloudKit/EnablingiCloudandConfiguringCloudKit.html)?

[2018-11-15 00:57] AndrewHenderson commented on #100
@isaachinman Have you experienced this bug? It seems like a noteworthy issue.

[2018-11-15 14:32] frenberg commented on #89
I see this as well... If you look closely att your file path
`/private/var/mobile/Library/Mobile%2520Documents/com~apple~CloudDocs/Documents/<fileName>`

That `Mobile%2520Documents` should actually be `...Mobile/Documents...` Just saw this myself so not sure where this problem arises yet.

[2018-11-15 15:34] jebinwinfy commented on #122
I made it with the following,

update "ReactNativeShareExtension.m" file and it will give you thumbnail of video.

#import "ReactNativeShareExtension.h"
#import "React/RCTRootView.h"
#import <MobileCoreServices/MobileCoreServices.h>
#import <AVFoundation/AVFoundation.h>

#define URL_IDENTIFIER @"public.url"
#define IMAGE_IDENTIFIER @"public.image"
#define TEXT_IDENTIFIER (NSString *)kUTTypePlainTe

[2018-11-15 21:38] isaachinman commented on #89
@frenberg That's a great point. I've run into URI encoding issues before, but always on Android, not iOS.

This URI is encoded _twice_:

    /private/var/mobile/Library/Mobile%2520Documents/com~apple~CloudDocs/Documents/<fileName>

If I run:

    decodeURIComponent(decodeURIComponent('/private/var/mobile/Library/Mobile%2520Documents/com~apple~CloudDocs/Documents/<fileName>'))

I get:

    "/privat

[2018-11-18 17:43] tallen11 commented on #123
@AndrewHenderson, I have experience with Objective-C as well as Javascript now and I'm currently using this package in a production app (and dealing with its issues ;) ) and can offer help if needed!

[2018-11-19 08:29] radreamer commented on #89
@frenberg @isaachinman now it works, thanks for your help!

[2018-11-20 19:50] theone3nu commented on #111
@LucM after i added your fix deployment target changed to 9.0 now i can see the extension in the safari browser. However when i select myextension app safari is freezed nothing is happening. Any help would be appreciated.

[2018-11-20 20:31] AndrewHenderson commented on #96
@theone3nu Please follow the steps provided in the README exactly. You need to modify the app's permissions.

[2018-11-20 20:42] theone3nu opened #124 "Share extension doesn't shows up in whatsapp ios"
Thanks for the great lib. I am able to see the extension in the safari browser in real device. However i can't see the extension in the apps like photos, whatsapp.
I have added build phrase

Please help.

[2018-11-21 09:58] arribbar commented on #111
@theone3nu, if you are on iOS, you can have logs from your extension by selecting its scheme in XCode to build it. It will probably help you in this case.

[2018-11-21 10:55] radreamer opened #125 "Support for all file types on iOS"
Hey, thanks for the great library

I need to support sharing for all file types and as a proof of concept, I modified `ReactNativeShareExtension.m` in the next way:

1. Define the identifier for all file types `#define CONTENT_IDENTIFIER @"public.content"`
2. Modify `extractDataFromContext`:

[code]

After that looks like everything works well, but I am afraid that I can lose sight of some iOS res

[2018-11-21 11:33] theone3nu commented on #111
@arribbar Can you please tell me how to to select scheme and how to run that in the device. I directly run the parent application in the ios device. Where to check the logs.

[2018-11-21 12:58] arribbar commented on #111
To do so, you need to:
- Go to xcode
- In menu, select your extension in Product > Scheme
- Build your extension
- You'll have logs in XCode console

[2018-11-21 16:57] isaachinman commented on #125
@tallen11 Perhaps you might be able to help?

[2018-11-21 21:08] theone3nu commented on #96
@AndrewHenderson I followed the exact steps. Where to modify the app's permissions.
I am not seeing myapp in the other apps share.

[2018-11-21 21:09] theone3nu commented on #96
@AndrewHenderson Do you have the sample project in the repo i will clone it and directly run it in my xcode. I will change the bundle identifiers to run in my local device.

[2018-11-22 09:23] arribbar commented on #111
Sorry @theone3nu, my solution was working for getting logs in your simulator.
Just, Instead of choosing your parent app, choose safari and you'll have logs in XCode console.

In real device, use Console.app to get logs from your real device.

[2018-11-22 10:40] theone3nu commented on #111
@arribar i am able to open that in safari. But how do i enable my react native app from photos gallery or whatsapp.

[2018-11-22 11:07] theone3nu commented on #96
@AndrewHenderson Finally able to show my app in photos app by editing the info.plist.
I have added NSExtensionActivationSupportsImageWithMaxCount in NSExtensionActivationRule.
Now i am using  await ShareExtension.openURL('myapp://'); in the share.ios.js component but it is not opening the myapp from photos app. Please help

[2018-11-22 11:07] theone3nu commented on #111
@arribbar Finally able to show my app in photos app by editing the info.plist.
I have added NSExtensionActivationSupportsImageWithMaxCount in NSExtensionActivationRule.
Now i am using  await ShareExtension.openURL('myapp://'); in the share.ios.js component but it is not opening the myapp from photos app. Please help

[2018-11-22 11:19] theone3nu commented on #86
@isaachinman I have tried this

[code]
But my react native app is not opening. Can you please help?

[2018-11-22 11:38] arribbar commented on #111
I have never used `openURL` function. I can only invite you to read this part of the readme, https://github.com/alinz/react-native-share-extension#open-container-app

And this is not anymore the same issue. If you have one using openUrl, please check issues and open a new one if needed

@pmella16, do you still have this issue ? Or can we close it ?

[2018-11-22 11:47] theone3nu opened #126 "Share Extension OpenUrl not working"
I have followed this https://github.com/alinz/react-native-share-extension#open-container-app
When i click on the share extension myapp is not opening at all.
Please help

[2018-11-22 13:48] theone3nu commented on #126
As soon as ShareExtension.openURL gets called it is going to catch block and here is the error description.
<img width="248" alt="screen shot 2018-11-22 at 7 17 54 pm" src="https://user-images.githubusercontent.com/22262757/48906731-72483600-ee8b-11e8-9d6d-26d867ac3607.png">

[2018-11-22 13:50] theone3nu commented on #111
@arribbar I opened new issue. Can you please look into this and reply if you have any idea on that error
https://github.com/alinz/react-native-share-extension/issues/126#issuecomment-441036207

[2018-11-22 14:08] arribbar commented on #126
You should take a look at the Linking part, to be sure it well implemented.
Documentation is here : https://facebook.github.io/react-native/docs/linking

[2018-11-22 14:14] theone3nu commented on #126
I tried with  Linking.openURL('myapp://'). It says unable to open url myapp://.
But when i called the same  Linking.openURL('esgoapp://') from the parent app It is opening the app.
Also when i am trying to call myapp from browser window.open('myapp://') it is opening myapp.
Only problem is i am unable to navigate from the share.ios component

[2018-11-22 14:34] theone3nu opened #127 "updated code is not there in npm"
I just saw in lib/index.js ```
import { NativeModules } from 'react-native'

// import ShareExtension from 'react-native-share-extension'
// const { type, value } = await NativeModules.ShareExtension.data()
// NativeModules.ShareExtension.close()
export default {
  data: () => NativeModules.ReactNativeShareExtension.data(),
  close: () => NativeModules.ReactNativeShareExtension.close()
}

[code]

[2018-11-22 14:35] theone3nu commented on #126
@arribbar Just saw that latest code is not up to date in npm

https://github.com/alinz/react-native-share-extension/issues/127#issue-383560862

Thats the reason ShareExtension.openURL is throwing error. Can admin upload the latest code into repo.
The current version is 1.2.1

[2018-11-22 14:41] theone3nu commented on #124
By adding the property in info plist fixed the issue hence closing this issue.
[code]

[2018-11-22 14:41] #124 closed

[2018-11-22 16:30] theone3nu commented on #127
Since the latest code is not there in the npm repository i manually downloaded from github and used that ReactNativeShareExtension xcode as a library and imported the ShareExtension from the local copy. After a week time spent Now everything is working fine without any issues in the simulator.
However when i run it in the real device app hangs. I am trying to share photo from photo gallery app to

[2018-11-22 17:39] theone3nu commented on #111
Fixed all the issues @pmella16 You need to add build script```
 export NODE_BINARY=node
../node_modules/react-native/scripts/react-native-xcode.sh

[code]

[2018-11-22 19:04] dfabarbosa commented on #127
I have the exact same problem

[2018-11-22 19:05] theone3nu commented on #127
@dfabarbosa I fixed it by adding the scripts in the extension build phase. Now i don't have any more issues. Great Repo! Very big thanks to the developer.

[2018-11-23 01:05] AndrewHenderson commented on #96
Great. Yes, that’s the step you were missing.

You need to register that prefix, so that it is associated with your app.
There is documentation from Apple on how to set that up.

On Thu, Nov 22, 2018 at 3:07 AM Trinu <notifications@github.com> wrote:

[2018-11-23 13:33] dfabarbosa commented on #127
@theone3nu I'm not being able to make it work. Did you choose shared or separated bundle? I chose shared and the appShareExtension target's "Bundle React Native code and images" phase doesn't appear, did you have any problem like this?

[2018-11-23 13:57] theone3nu commented on #127
<img width="738" alt="screen shot 2018-11-23 at 7 24 25 pm" src="https://user-images.githubusercontent.com/22262757/48947028-c3246100-ef55-11e8-8a08-19e559ab94da.png">
Check the screenshot

[2018-11-23 14:17] dfabarbosa commented on #127
Well it's working and I did nothing... The problem was that the extension takes a lot of time to appear on the device on debug mode. Thanks for your help @theone3nu !!!

[2018-11-23 14:18] theone3nu commented on #127
NP @dfabarbosa

[2018-11-23 20:04] isaachinman commented on #86
Are you on Android? I believe you need to take a different approach vs iOS:

[code]

[2018-11-23 20:15] theone3nu commented on #86
@isaachinman Actually code is not updated in npm repo. But it is updated in github. I directly downloaded the code from github and used that library then it fixed the issue. Thanks for the library.

[2018-11-23 20:41] isaachinman commented on #86
@AndrewHenderson Do we have any release targets currently? This project hasn't been deployed on npm in a year.

[2018-11-23 20:42] isaachinman commented on #100
@AndrewHenderson Sorry for the delayed response - I have not seen this bug. My iOS apps are working as expected and can be launched as many times as desired.

[2018-11-23 20:44] isaachinman commented on #123
@AndrewHenderson I've opened a milestone for 1.3.0. Let's associate all necessary issues with it, and try to get things moving.

[2018-11-26 16:02] radreamer commented on #127
hey, what about `"react-native-share-extension": "github:alinz/react-native-share-extension"` in dependencies in package.json?

[2018-11-26 18:19] isaachinman commented on #127
@AndrewHenderson I propose releasing `v1.3.0` immediately with everything that is currently on `master` since the last release on Aug 2, 2017, so that we can deploy these changes to npm. We can bump future changes to `v1.4.0` or otherwise.

Please let me know ASAP if you agree.

[2018-11-26 18:34] AndrewHenderson commented on #127
@isaachinman I experienced issues using master, last week. I was unable to successfully complete network requests from the Share Extension — particularly uploading images. Switching back to NPM version resolved the issue immediately. It seems there is a bug that was introduced since the 1.2.1 release.

[2018-11-26 18:43] isaachinman commented on #127
@AndrewHenderson Ouch... there are [19 commits](https://github.com/alinz/react-native-share-extension/compare/v1.2.1...master) in that release. Anyone feel like doing a `git blame`?

[2018-11-26 18:44] AndrewHenderson commented on #127
@isaachinman It was only on iOS, so that should help narrow it down.

[2018-11-26 18:48] AndrewHenderson commented on #127
@isaachinman This looks like it could be the cause: https://github.com/alinz/react-native-share-extension/commit/1e98f58991a892fd941a809f9564fb5181693ba0#diff-cd365a662ae840f4beb6a01a1c8ffa1f

[2018-11-26 23:05] Nanofortress commented on #76
I also followed the tutorial for iOS (I only did the Setup iOS part), when I tried clicking on the share extension inside Safari, Safari froze and I see the following being printed on my Metro Bundler:
[code]
It never stops printing the same line until I closed the Safari, and when I does it prints these:
[code]
These only gets printed for 4 times.

[2018-11-27 04:54] NHuyHoang opened #128 "[ios] - Timed out waiting for modules to be invalidated"
Hi guys, thanks for creating this libraries. I have installed this library following the README.md. When I build my main app it start with a blank screen for a while after that there is a error  "Timed out waiting for modules to be invalidated". I wonder is this share-extensions view be displayed in the beginning ?

<img width="353" alt="screen shot 2018-11-27 at 11 45 01 am" src="https://user-ima

[2018-11-27 10:17] frenberg commented on #128
I asked google about the error message you are getting, and it seams to be related to styling or some other stuff in your javascript-file. I don't think it is related to this library.

[2018-11-27 11:48] NHuyHoang commented on #128
Thanks @frenberg, you are right. I have checkout for the previous branch. It is the error I got before install this library. Going to close this issue. Thank you so much.

[2018-11-27 11:48] #128 closed

[2018-11-27 21:00] pdooo opened #129 "Module ./share.android could not be found"
I have problem with this part
https://github.com/alinz/react-native-share-extension#share-component

This is my index.js
`import {AppRegistry} from 'react-native';
import App from './App';
import {name as appName} from './app.json';
import Share from './share.android'

AppRegistry.registerComponent(appName, () => App);
AppRegistry.registerComponent('shareNoti', () => Share);`

[2018-11-28 15:58] isaachinman commented on #127
@AndrewHenderson Does reverting just that file fix the bug?

[2018-11-28 16:08] isaachinman commented on #129
Are you reporting a bug? Asking for help?

[2018-11-28 18:20] pdooo commented on #129
Asking for help

[2018-11-29 20:18] itdev123 opened #130 "don't show Modal on android"
Hi, thanks for this component.
I was using the package on android.
It shows view, but doesn't show modal
How can I show modal?
In case I use view, How can I remove view and return to image/text share screen?

[2018-12-03 19:41] dgritsko commented on #127
Any update on this? Would really like to be able to use the `openURL` method.

[2018-12-09 22:08] #130 closed

[2018-12-10 19:55] itdev123 opened #131 "sharing screen doesn't apprear on real device"
Thanks for the component.
I have some questions about sharing on iOS
I followed readme in alinz/react-native-share-extension, but it's not working correctly on real device.
On emulator, it works well. But on real device, sharing screen doesn't appear.
Could you check my source code?
https://github.com/itdev123/React-Native-Share-Extension-for-iOS
Thanks

[2018-12-13 01:48] AndrewHenderson commented on #127
@isaachinman Please review. Reverting changes in https://github.com/alinz/react-native-share-extension/commit/1e98f58991a892fd941a809f9564fb5181693ba0 seems to have fixed issues: https://github.com/alinz/react-native-share-extension/pull/132/files.

Perhaps we can get things openURL in NPM after this.

[2018-12-14 20:47] isaachinman commented on #127
@AndrewHenderson Looks good, glad to hear that the bug was indeed (hopefully) isolated to 1e98f58. Let's focus on putting together a stable release, and then getting out the "stable" features (like openURL) which have been sitting in PRs for a long time.

[2018-12-19 03:35] rbscott opened #133 "Should ShareApplication.java be removed from the README?"
When adding an activity to an existing app, is `ShareApplication.java` necessary? It is referenced inside of the [README](https://github.com/alinz/react-native-share-extension/tree/02409d5cc22c19d55fe5e83a6e90dd7e91937ba9) as well as this [blog post](https://codeburst.io/building-a-mobile-share-extension-for-a-react-native-app-bff4ef91d44f) (unrelated, but perhaps this is where it came from).

I a

[2018-12-19 18:11] AndrewHenderson commented on #127
@isaachinman Agreed.

I just merged https://github.com/alinz/react-native-share-extension/pull/132. We should now have a stable version of the app.

I'll start outlining a roadmap for the next version. You and I have collaborator permissions on the repo, but do not have NPM permissions to release new versions. We'll need to either have @alinz grant us access or review our release candidate once we

[2018-12-19 18:14] isaachinman commented on #127
@AndrewHenderson I believe I do already have npm permissions - I spoke to @alinz via email. We should get you on there as well, for sure.

[2018-12-22 22:28] theone3nu opened #134 "Deep linking opens share.android.js first"
I am trying to redirect the app using Linking. When ever i open the url 'myapp://test/' in android it is going to componentDidMount method of share.android.js instead it should go to App.js componentDidMount. Works fine in IOS.

Here is my index.js

[code]

[2018-12-22 22:35] theone3nu commented on #134
Problem in androidmainfest.xml

` <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />`

This line should be added first. Closing the issue.

[2018-12-22 22:35] #134 closed

[2019-01-04 03:51] leiz-me opened #136 "Follow the whole instructions and triple check, but still not working"
I hate to open a new issue asking about this question, but got no idea right now.

I am developing a share extention for my app and can't make it work.
Just keep getting these error messages.

[code]

And this is my system setup

[code]

[2019-01-05 10:56] isaachinman commented on #136
Well, did you check what it is that is `null` when it shouldn't be?

[2019-01-05 11:36] isaachinman commented on #136
I would start by checking whatever `O2ShareExtention` is.

[2019-01-05 11:50] leiz-me commented on #136
O2ShareExtention is the name of my app share extention, just like the MyShareEx of sample code.

[2019-01-05 11:52] isaachinman commented on #136
Yes, I assumed so. You'll need to find out why it's `null`.

[2019-01-05 11:57] leiz-me commented on #136
I found that my problem is similar to this issue #94 ,but got no idea why the extension app looks like not loading/accessing to the js bundle.  The error message `Module AppRegistry is not a registered callable module (calling runApplication)` also indicates this, React Native Module is not loaded. This is currently what I have.

[2019-01-05 12:40] leiz-me commented on #136
Well, finally I got it working. #48 did the trick.
Thanks dude.
@isaachinman

[2019-01-05 12:40] #136 closed

[2019-01-06 12:18] isaachinman commented on #136
Ah great, glad to hear that.

[2019-01-10 09:42] leiz-me opened #137 "react-native-share-extension:verifyReleaseResources failed in Android"
Yes, again, got another problem.
iOS works very well currently. So it comes to Android.

After I configured all the files that mentioned in the instructions, got ```Execution failed for task ':react-native-share-extension:verifyReleaseResources'.``` while building the project.

the log as below

[code]

Any idea?

[2019-01-10 09:49] isaachinman commented on #137
Did you read the error output?

[2019-01-10 09:55] isaachinman commented on #137
Did you do a search in your project for this resource?

[2019-01-10 09:59] leiz-me commented on #137
@isaachinman Sure. And nothing came out.

[2019-01-10 10:02] isaachinman commented on #137
Without a reproducible example or more information it is basically impossible to help.

[2019-01-10 10:03] leiz-me commented on #137
I found some clues that it is a bug due to the sdk version. https://stackoverflow.com/questions/49331411/errorresource-androidstyle-textappearance-material-widget-button-borderless-co

And I am working on it.

[2019-01-10 10:05] isaachinman commented on #137
Okay, let us know what you find.

[2019-01-10 14:35] leiz-me commented on #137
Well, all of a sudden, it just worked, and still have no idea why.
Though I did have some point from this post, https://stackoverflow.com/questions/50574492/react-native-error-resource-androidstyle-textappearance-material-widget-butto

[2019-01-10 14:35] #137 closed

[2019-01-11 08:55] leiz-me opened #138 "Can this lib be used to share things from other apps ?"
Just want to make sure if this is the current status.

#96 mentioned some point but no solution found.

[2019-01-11 09:01] isaachinman commented on #138
What status? Quite a few of us are using this project in production to share links, images, and videos from other apps into our own apps. What is your question?

[2019-01-11 09:01] #138 closed

[2019-01-11 09:14] leiz-me commented on #138
Sorry not make it clear. My problem is that I can only see the share extension in the browser but not from other apps, even though added the rule settings in info.plist and androidmanifest.

What did I miss?

[2019-01-16 20:38] rbscott commented on #100
I have been playing around with ReactNativeShareExtension and I think for large apps the second launch might be getting killed by a memory leak. For me, I was running the app repeatedly and each time it would consume more memory (just watched the number in XCode). I fixed this by creating a global `RCTBridge` and reusing it in the call the `shareView`. Inside `close`, I set `self.view` to `nil`. I

[2019-01-16 23:19] AndrewHenderson commented on #100
@rbscott Thanks for looking into this issue. In what way would this be a breaking change. Does it change the module's API?

[2019-01-18 08:29] prabakarviji opened #139 "Wix react-native-navigation v2 support?"
When trying to integrate sharing extension with react-native-navigation, we are getting this issue

`com.example.extension.ExampleExtensionActivity cannot be cast to com.reactnativenavigation.NavigationActivity`

[2019-01-19 09:20] mtzfactory commented on #139
I tried as well without success... Make it work with react-native-navigation v2 would be amazing...

[2019-01-19 09:21] mtzfactory commented on #133
I removed and it seems to work.

[2019-01-20 20:28] mtzfactory opened #140 "Android: Activity com.simple.share.ShareActivity has leaked window"
Hi,

There is an error when calling `close`method from the share extension, that's what Android Studio reports:

[code]

Furthermore, if you had your app in memory (already opened) it seems that after closing the sharing activity your app will be restarted...

Is it normal? Any idea? Solution?

[2019-01-26 08:05] rbscott commented on #100
@AndrewHenderson In order to fix it you have to reuse the `sharedBridge`, so either the API for `shareView` passes in a new parameter that is used, or the user of the library must follow the convention to reuse a global `RCTBridge`. I guess, another approach is to add a class method that defined a shared bridge? What do you think about that approach?

[2019-01-28 19:04] timmytimmytimmytime commented on #112
Has this package been abandoned? I have the same issue of not being able to make this work, and there are no responses to this or other queries.

[2019-01-28 19:04] timmytimmytimmytime commented on #115
Has this package been abandoned? I have the same issue of not being able to make this work, and there are no responses to this or other queries.

[2019-01-29 10:40] lkrenaga opened #142 "share an Image/files"
Hi

I am able to add share-extension to my app.

When i try to share an url from browser I am getting promise object as follows.
{
_40: 0
_55: {value: "https://www.google.com/", type: "text/plain"}
_65: 1
_72: null

}

But when i try to share image/file to share extension.  I am always getting below promise object.
{
_40: 0
_55: {value: "file://null", type: "image/jpeg"}
_65: 1
_72: null
}

Can yo

[2019-01-29 13:00] deorukhkarchaitanya commented on #64
Why isn't  https://github.com/alinz/react-native-share-extension/issues/64#issuecomment-371861215 in the repo? is there any proper way to close it without crashing it?

[2019-02-02 09:19] pepya2 commented on #131
Same to Android, mine doesn't show content or modal having a link shared.. only transparent gray area.. any solution please..

[2019-02-02 10:02] pepya2 opened #143 "Not working as intended on real android device"
Guys, i don't see any contents after sharing, only shows semi transparent grey background.. how can i make this work on real android device?
Thank you.

[2019-02-02 11:35] pepya2 commented on #143
Found out react-native-modalbox was the issue..

[2019-02-02 11:35] #143 closed

[2019-02-02 11:37] pepya2 commented on #131
do not use react-native-modalbox, just implement your own way of handling views

[2019-02-17 13:11] i25878427 commented on #139
It is working with react-native-navigation v2 and not with v1 from my personal experience.

[2019-02-18 05:24] prabakarviji commented on #139
@i25878427 What about android?

[2019-02-18 06:25] i25878427 commented on #139
I haven’t tried it but I believe it should work

[2019-02-19 05:56] prabakarviji commented on #139
@i25878427 I tried it and it doesn't work as expected

[2019-02-20 09:25] mtzfactory commented on #139
@i25878427 can you post an small example? Thanks

[2019-02-20 09:31] i25878427 commented on #139
Just follow the installation guide for the SE and just use react-navigation **v2** and not v1 and it should work for you ( you don't need to do anything special :) )

[2019-02-21 00:55] lightning331 opened #146 "examples Sample1 doesn't work on Android"
Hi

After npm install, I was going to run the `example/Sample1` by command `react-native run-android` or Android Studio.
Then I got the error as followings.

Building and installing the app on the device (cd android && ./gradlew installDebug...
Error: Could not find or load main class org.gradle.wrapper.GradleWrapperMain
Caused by: java.lang.ClassNotFoundException: org.gradle.wrapper.GradleWrapper

[2019-02-21 02:52] hoanganh1712 opened #147 ""react-navigation": "^2.18.0", dont woring on Android"
https://reactnavigation.org/docs/en/stack-navigator.html#docsNav

[2019-03-06 09:27] prabakarviji commented on #139
@i25878427 Can you help me on this?

[2019-03-06 10:35] i25878427 commented on #139
@prabakarviji What do you need? If it is Android related, I have no experience with it.

[2019-03-07 09:59] jvandenaardweg commented on #127
Any update on this? :-)

[2019-03-07 11:21] isaachinman commented on #127
@jvandenaardweg As far as I know, we don't have an rc yet. v1.2.1 is on npm.

[2019-03-07 11:23] jvandenaardweg commented on #127
Thanks for the update. I've then decided to use the last commit in master `npm install https://github.com/alinz/react-native-share-extension.git\#3db5320135c154c367d72c44688a29ce41b210e7 --save`

Seems to be working fine in my app 👍

[2019-03-07 11:28] isaachinman commented on #127
I am happy to just release the latest master as v2.0.0 (I assume there are breaking changes). What do you think @AndrewHenderson?

[2019-03-11 10:18] jvandenaardweg commented on #21
Just found this issue here when I was struggling with the same. I got it working by the steps described below. Hope this helps others!

Bundle Identifier used in this example: `com.example.appname`

1. Make sure you have a App Group set up in your main App and Extension. They need to have the same name, for example: `group.appName`

2. Make sure your main App and Extension have "Keychain Sharing"

[2019-03-18 19:05] jvandenaardweg commented on #111
Thanks @LucM, this pointed me in the right direction. Figured out by building and trying that 10.0 is the required version. Every Deployment Target higher then that makes the Share Extension not visible in Safari for me.

Also, this is the iOS Target properties I used for my Share (URL) extension:
[code]

Finally got it working!

[2019-03-19 06:37] jvandenaardweg commented on #123
Hi guys! Great there are new maintainers. Found out this is kinda the only working repository to get a share extension working using React Native. Props for that!

Could you give a little update on where it goes from here?

As the last message is from 4 months ago, it would be great if you guys can take a look at some PR's. I think the ones updating the README could be merged right away

[2019-03-19 11:11] isaachinman commented on #123
@jvandenaardweg I've approved #141 and #148. Let's see if @AndrewHenderson has some time to give a second review and merge.

Unfortunately I am extremely busy these days and have transitioned back to mostly Node/web work, so I'm not the best suited to take the lead on maintaining this repo.

[2019-03-25 20:34] chiaberry commented on #127
@jvandenaardweg  Does the `openUrl` method work in your app on Android?

also thanks for the advice on installing from commit vs master

[2019-03-26 05:44] jvandenaardweg commented on #127
@chiaberry haven't had the time to build and test the Android side, currently only working on an iOS app. Sorry!

[2019-04-05 03:17] Asleepace commented on #139
any update on this?

[2019-04-05 08:38] isaachinman commented on #139
@Asleepace What kind of update are you hoping for? This package is not actively maintained for the most part, and from the comments in this issue it seems to be a setup problem.

[2019-04-05 17:02] SaraChicaD commented on #111
We're using the library to share a link from an app, go to our app with that data, then go back to the original app. What was happening: when we went back to the app, it would be completely frozen. Just freeze, you couldn't tap on anything until you closed it and re-opened.

One of the errors we received:

[code]

Which lead us to [this](https://forums.developer.apple.com/thread/106838) we also ha

[2019-04-05 22:08] Asleepace commented on #139
@isaachinman just wondering if anyone managed to get this working with V2

[2019-04-16 09:46] vbashiri commented on #61
My problem is slightly different, but the outcome is the same. There problem is when I click on share button in safari or anywhere else the app will freeze, but when I change background of view in MainInterface.storyboard to solid black, the view will be rendered. A black page will be appeared and because of that touches not working and it looks like the app is frozen. So, view will rendered but t

[2019-04-25 07:38] JsonAveza opened #149 "Sharing image on IOS , returns no data ."
Hi Team,

  I am trying to share url and image from mobile to app using react-native-share-extension.
I can pass url from safari to my app , but i can not pass the image to my app. I try to find the log to check the result of image sharing, not get any results from
 ([imageProvider loadItemForTypeIdentifier:IMAGE_IDENTIFIER options:nil completionHandler:^(**id<NSSecureCoding> item**, NSError *erro

[2019-04-25 14:08] phoneixkwok opened #150 "Sharing not works on Android"
I followed the guide in README.md to setup "react-native-share-extension" on Android.

And some changes are made due to compilation error and android version changed

`ShareApplication.java`

[code]

`values/styles.xml`

[code]

And I added [share.android.js](https://github.com/alinz/react-native-share-extension/blob/master/examples/Sample1/share.android.js) to my project

---

Finally, the app is

[2019-04-25 14:56] phoneixkwok commented on #150
Works after removing the following line from `styles.xml`

[code]

---

Complete `styles.xml`

[code]

![image](https://user-images.githubusercontent.com/1342985/56745631-508e0a80-67ad-11e9-8eb8-4f1832764386.png)

[2019-04-25 14:56] #150 closed

[2019-04-29 20:31] yuanagain opened #151 "Build failure on `react-native init` app"
Hi, forgive my inexperience working with iOS. Following the instructions in the README (a few times now, by my count and as a check against human error), I am unable to build successfully.

My versions for React Native are as follows:
react-native-cli: 2.0.1
react-native: 0.59.5

Code from my sample project is here: https://github.com/tryboppity/react-native-share-extension-boilerplate

The only m

[2019-04-29 20:48] yuanagain commented on #151
Fixed via https://github.com/facebook/react-native/issues/23183

[2019-04-29 20:48] #151 closed

[2019-05-02 15:31] daviswhitehead commented on #86
@AndrewHenderson @isaachinman I just want to bump that I was able to resolve this as @theone3nu  did by downloading the repo directly from github. It would be really great to get another up to date npm deploy... Not sure who's responsible for that, maybe @alinz ?

[2019-05-02 15:35] isaachinman commented on #86
@daviswhitehead I've got `npm` access. You're saying you've been using the latest `master` as a dep, right?

[2019-05-02 15:41] daviswhitehead commented on #86
Yep that's correct, I just now downloaded `master` and replaced the existing `node_modules/react-native-share-extension` folder with its files and it worked perfectly.

[2019-05-02 15:47] isaachinman commented on #86
@AndrewHenderson Unless you object to it, I am going to release the current master as a major (v2.0.0) imminently. I'm not sure if there are breaking changes in the diff so this seems safest to me.

[2019-05-06 13:17] cbpanchal opened #152 "In Both Platofrom share image with extension crash my app every time"

[2019-05-06 13:20] cbpanchal commented on #152
I am getting empty response in type and value only once after that my app keep stoping
Crash app while share image to my app

[2019-05-06 13:21] cbpanchal commented on #152
"react": "16.8.3",
  "react-native": "0.59.5",
 "react-native-share-extension": "^1.2.1"

[2019-05-06 13:22] cbpanchal commented on #152
I have followed same steps for android and ios both multiple times but i still got crashed.

[2019-05-07 09:31] isaachinman commented on #86
I've just released v2.0.0.

[2019-05-07 17:17] AndrewHenderson commented on #86
@isaachinman Apologies for the delayed response. I think it was good idea to release the current master branch. There were bugs in the previous npm version. 👍

There wasn't anything major in this release. I believe it was mostly bug fixes.

The features I believe still need to be developed are listed here: https://github.com/alinz/react-native-share-extension/issues/123#issuecomment-437470240.

[2019-05-08 08:25] sujitkaulavkar123 commented on #18
Hi @alinz , I am using the react-native-share-extension in one of my project. I have integrated the package as suggested. I am able to see the UI when I am sharing the text in Android. But in iOS, I can't see the UI.
     After doing some research, I found that whenever I am importing another file, it stops working. This is specifically in **iOS** only. Following is my code.

[code]

[code]

   No

[2019-05-21 11:50] khanhduy62 opened #153 "couldn't find provider"
I got this error on running on iOS simulator
Please help me if you know how to fix it
Thank you

[2019-05-24 10:20] SirCameron commented on #146
Same..

[2019-05-25 15:59] fishkingsin commented on #149
I hacked the soruce
change
[code]

to

[code]

[2019-06-07 10:08] SirCameron opened #156 "Share extension is present, but nothing shows up when sharing"
IOS:
I have followed the instructions correctly. The app builds successfully and it shows up in the "share to" dialog.
But when it is tapped, my app does not show up at all. Nothing happens.

[2019-06-10 09:55] hoanganh1712 commented on #152
i same you

[2019-06-12 11:53] JsonAveza opened #157 "Received memory warning;Message from debugger: Terminated due to memory issue"
While i am trying to send image , i will get memory issue and app get crashed.

React-native Version : 0.57.7
React-native-share-extension Version: 2.0.0

[2019-06-14 11:33] NishidaRyu416 opened #159 "Host app does not work on ios."
Although I followed the instructions when I open the host app, only a white-screen is captured.
Also, share extension itself does not work; I copied the sample code as the share-extension-component whilst it should show a modal when the share extension is triggered, it does show anything at all.

[code]

[2019-06-16 08:26] #159 closed

[2019-06-20 23:09] djorkaeffalexandre commented on #123
Hi guys, I has interest in that! I'm working with this lib on [Rocket.Chat.ReactNative] and love that.

[2019-06-21 18:38] djorkaeffalexandre commented on #123
@alinz ??

[2019-06-22 23:56] andersonqi opened #160 "IOS Share Extension not launch app."
Hi there!
share extension works if I replace my app with a very basic component. But if I use my full app with react navigation etc it does not work. When I try the screen stays frozen.

Is there a problem if I use react navigation? I feel that it blocks the flow

[2019-06-25 07:47] NishidaRyu416 commented on #160
Don’t you have the same keys to `registerComponent` methods in order to register both your share extension and app components?
If yes, it doesn’t work well because the component before is overridden by the one after that or simply causes a conflict.

A bad anticipated example:
[code]
A fine estimated example:
[code]

[2019-06-25 13:13] andersonqi commented on #160
Yes, that was my mistake

Thank you @NishidaRyu416

[2019-06-25 13:13] #160 closed

[2019-06-26 19:36] Zulmero opened #161 "Not working with react-navigation"
I made an app that works fine sharing url both on android and ios. I share an url, open up a shareScreen, and link to my app. All working well.
Recently i added react-navigation and on ios the app is not working anymore.

Only importing in App.js my MainNavigation (createStackNavigator, createAppContainer, and screens) without using it in render, make the share extesion crash.
If i comment that li

[2019-06-26 22:48] Zulmero commented on #161
Solved!
I separated the index.js and index.ios.js. The share extension goes to index.ios.js and the main app to index.js.

index.ios.js
import { AppRegistry } from 'react-native';
import Share from './share.android';
AppRegistry.registerComponent('mysharescreen', () => Share);

Working great

[2019-06-27 07:47] vivekjne commented on #156
Hi @SirCameron where you able to solve it?

[2019-06-27 08:49] vivekjne commented on #161
@Zulmero i am having issues with dev server how did you solve it.

[2019-06-27 11:38] SirCameron commented on #156
@vivekjne nope.

[2019-06-27 12:26] Zulmero commented on #161
What's your issue?

[2019-06-28 06:15] vivekjne commented on #156
@SirCameron i was able to solve it for me. My app was using react navigation so had to make a separate file and register the extension component in that. i created a file like app.ios and did the appregistry config there then i specified it as the entry file in share extension instead of index.ios. Now everything is working fine.
contents of app.ios.js file:
import { AppRegistry,Platform } from 'r

[2019-06-28 07:37] vivekjne opened #162 "Not able to share to the same container app. I want share functionality like whatsapp. it is showing the same app in shareextension but nothing is happening when i click on icon in share extension"

[2019-06-29 12:59] SirCameron commented on #156
@vivekjne Thanks. I am also using React Navigation, but I would like the share extension to render in the current app, though.
I will give your suggestion a go and see how I can work around it.

[2019-07-04 00:24] djorkaeffalexandre opened #163 "Not working on Android"
In android if I put a console.log on ComponentDidMount this show but not show the view of render.

[2019-07-04 18:13] ramon90 commented on #163
Same for me, and also app crashes! Not working on ios either

[2019-07-04 18:15] ramon90 commented on #152
Facing same issue, anybody found a solution?

[2019-07-04 18:16] ramon90 commented on #112
Is this package dead? I see many people have issues and no one responds!

[2019-07-04 19:24] isaachinman commented on #112
It's OSS. Feel free to contribute!

[2019-07-04 21:08] djorkaeffalexandre commented on #163
Hi @ramon90 , I resolved the problem on Android, is on Share Theme... If you want to use this library, I have a fork and maintain it to use on [Rocket.Chat.ReactNative](https://github.com/RocketChat/Rocket.Chat.ReactNative), you can find examples on [RocketChat Share Extension (iOS)](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/942)..
My fork of this library is: [rn-extensions-share]

[2019-07-05 19:06] #163 closed

[2019-07-11 10:41] Shaktis3 commented on #160
Hey i'm facing the same issue. Will you please help to resolve it. Thanks in advance.

[2019-07-11 10:46] Shaktis3 opened #165 "IOS Share Extension is displayed but not able to open UI which is written in share.ios.js"
I have followed the same steps with same name "MyShareEx". Now the extension is displayed while sharing but on clicking it, it freezes the app through which i'm sharing the link.

My code is same as given in README file

Please help ASAP.

[2019-07-11 15:37] andersonqi commented on #160
@Shaktis3 my problem was that I had the wrong name in the register and the share. Verify that all names are correct.

[2019-07-12 06:10] Shaktis3 commented on #160
Yes. In my case all the thing are correct. but still not able to open app or any screen when clicked on share extension. It freezes the app through which i'm sharing the content.

[2019-07-15 05:09] Shaktis3 commented on #165
I got the issue resolved after commenting all code in MyApp. I would like to mention - registering component like this was the issue
[code]
There were dependencies like `linked libraries` etc which were configured for `MyApp` but not for `MyShareEx`. So either configure your `MyShareExt` as `MyApp` (I will not recommend this) OR create separate entry point like `share.ios.js` and register only sha

[2019-07-15 05:09] #165 closed

[2019-07-15 05:18] Shaktis3 commented on #156
Hey @SirCameron, there may be issue with extension configuration. If your index.js file is like this
[code]
There may have dependencies in `MyApp` which cause issue in launching MyShareEx. So either configure your `MyshareEx` same like `Myapp`  (not recommended) OR create separate entry point for `MyShareEx` and have only share component register there like this.
`AppRegistry.registerComponent('My

[2019-07-15 07:43] RZulfikri opened #166 "using local data (redux-persist / asyncStorage)"
Hello, thank for this awesome library. Currently, I'm working with this sharing feature. But I'm facing one issue, Is there any way to access current redux/async storage from the extension?

thanks

[2019-07-15 08:14] vujevits commented on #166
Hi @RZulfikri, I'm also working on the integration, on iOS you need to have an App Group for sharing persisted data, because essentially the extension is a separate app, with it's own container. If you are using redux-persist with `AsyncStorage`, you need to swap out `AsyncStorage` for `react-native-fs` or some other solution.

[2019-07-15 09:01] RZulfikri commented on #166
@vujevits Thank you for your response, I'm actually facing that issue "separate app, with its own container" issue.  That's new for me, we can use react-native-fs to as storage in redux persist?
I'm planning to use this https://github.com/react-native-community/async-storage/blob/LEGACY/docs/advanced/BrownfieldIntegration.md